@import url(/fonts/opensans_regular_cyrillic/stylesheet.css);
@import url(/fonts/opensans_light_cyrillic/stylesheet.css);
@import url(/fonts/opensans_bold_cyrillic/stylesheet.css);
.icon-sprite, .b-app__header__menu, .b-app__header__title:after {
  background: url('/images/../images/icon-sf8105af48f.png') no-repeat; }

@-webkit-keyframes circle-loading {
  0% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.38) 0 -28px 0 0, rgba(0, 0, 0, 0.02) 16px -22px 0 0, rgba(0, 0, 0, 0.06) 26px -9px 0 0, rgba(0, 0, 0, 0.1) 26px 9px 0 0, rgba(0, 0, 0, 0.14) 16px 22px 0 0, rgba(0, 0, 0, 0.18) 0 28px 0 0, rgba(0, 0, 0, 0.22) -16px 22px 0 0, rgba(0, 0, 0, 0.26) -26px 9px 0 0, rgba(0, 0, 0, 0.3) -26px -9px 0 0, rgba(0, 0, 0, 0.34) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.38) 0 -28px 0 0, rgba(0, 0, 0, 0.02) 16px -22px 0 0, rgba(0, 0, 0, 0.06) 26px -9px 0 0, rgba(0, 0, 0, 0.1) 26px 9px 0 0, rgba(0, 0, 0, 0.14) 16px 22px 0 0, rgba(0, 0, 0, 0.18) 0 28px 0 0, rgba(0, 0, 0, 0.22) -16px 22px 0 0, rgba(0, 0, 0, 0.26) -26px 9px 0 0, rgba(0, 0, 0, 0.3) -26px -9px 0 0, rgba(0, 0, 0, 0.34) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.38) 0 -28px 0 0, rgba(0, 0, 0, 0.02) 16px -22px 0 0, rgba(0, 0, 0, 0.06) 26px -9px 0 0, rgba(0, 0, 0, 0.1) 26px 9px 0 0, rgba(0, 0, 0, 0.14) 16px 22px 0 0, rgba(0, 0, 0, 0.18) 0 28px 0 0, rgba(0, 0, 0, 0.22) -16px 22px 0 0, rgba(0, 0, 0, 0.26) -26px 9px 0 0, rgba(0, 0, 0, 0.3) -26px -9px 0 0, rgba(0, 0, 0, 0.34) -16px -22px 0 0; }

  10% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.34) 0 -28px 0 0, rgba(0, 0, 0, 0.38) 16px -22px 0 0, rgba(0, 0, 0, 0.02) 26px -9px 0 0, rgba(0, 0, 0, 0.06) 26px 9px 0 0, rgba(0, 0, 0, 0.1) 16px 22px 0 0, rgba(0, 0, 0, 0.14) 0 28px 0 0, rgba(0, 0, 0, 0.18) -16px 22px 0 0, rgba(0, 0, 0, 0.22) -26px 9px 0 0, rgba(0, 0, 0, 0.26) -26px -9px 0 0, rgba(0, 0, 0, 0.3) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.34) 0 -28px 0 0, rgba(0, 0, 0, 0.38) 16px -22px 0 0, rgba(0, 0, 0, 0.02) 26px -9px 0 0, rgba(0, 0, 0, 0.06) 26px 9px 0 0, rgba(0, 0, 0, 0.1) 16px 22px 0 0, rgba(0, 0, 0, 0.14) 0 28px 0 0, rgba(0, 0, 0, 0.18) -16px 22px 0 0, rgba(0, 0, 0, 0.22) -26px 9px 0 0, rgba(0, 0, 0, 0.26) -26px -9px 0 0, rgba(0, 0, 0, 0.3) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.34) 0 -28px 0 0, rgba(0, 0, 0, 0.38) 16px -22px 0 0, rgba(0, 0, 0, 0.02) 26px -9px 0 0, rgba(0, 0, 0, 0.06) 26px 9px 0 0, rgba(0, 0, 0, 0.1) 16px 22px 0 0, rgba(0, 0, 0, 0.14) 0 28px 0 0, rgba(0, 0, 0, 0.18) -16px 22px 0 0, rgba(0, 0, 0, 0.22) -26px 9px 0 0, rgba(0, 0, 0, 0.26) -26px -9px 0 0, rgba(0, 0, 0, 0.3) -16px -22px 0 0; }

  20% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 -28px 0 0, rgba(0, 0, 0, 0.34) 16px -22px 0 0, rgba(0, 0, 0, 0.38) 26px -9px 0 0, rgba(0, 0, 0, 0.02) 26px 9px 0 0, rgba(0, 0, 0, 0.06) 16px 22px 0 0, rgba(0, 0, 0, 0.1) 0 28px 0 0, rgba(0, 0, 0, 0.14) -16px 22px 0 0, rgba(0, 0, 0, 0.18) -26px 9px 0 0, rgba(0, 0, 0, 0.22) -26px -9px 0 0, rgba(0, 0, 0, 0.26) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 -28px 0 0, rgba(0, 0, 0, 0.34) 16px -22px 0 0, rgba(0, 0, 0, 0.38) 26px -9px 0 0, rgba(0, 0, 0, 0.02) 26px 9px 0 0, rgba(0, 0, 0, 0.06) 16px 22px 0 0, rgba(0, 0, 0, 0.1) 0 28px 0 0, rgba(0, 0, 0, 0.14) -16px 22px 0 0, rgba(0, 0, 0, 0.18) -26px 9px 0 0, rgba(0, 0, 0, 0.22) -26px -9px 0 0, rgba(0, 0, 0, 0.26) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0 -28px 0 0, rgba(0, 0, 0, 0.34) 16px -22px 0 0, rgba(0, 0, 0, 0.38) 26px -9px 0 0, rgba(0, 0, 0, 0.02) 26px 9px 0 0, rgba(0, 0, 0, 0.06) 16px 22px 0 0, rgba(0, 0, 0, 0.1) 0 28px 0 0, rgba(0, 0, 0, 0.14) -16px 22px 0 0, rgba(0, 0, 0, 0.18) -26px 9px 0 0, rgba(0, 0, 0, 0.22) -26px -9px 0 0, rgba(0, 0, 0, 0.26) -16px -22px 0 0; }

  30% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.26) 0 -28px 0 0, rgba(0, 0, 0, 0.3) 16px -22px 0 0, rgba(0, 0, 0, 0.34) 26px -9px 0 0, rgba(0, 0, 0, 0.38) 26px 9px 0 0, rgba(0, 0, 0, 0.02) 16px 22px 0 0, rgba(0, 0, 0, 0.06) 0 28px 0 0, rgba(0, 0, 0, 0.1) -16px 22px 0 0, rgba(0, 0, 0, 0.14) -26px 9px 0 0, rgba(0, 0, 0, 0.18) -26px -9px 0 0, rgba(0, 0, 0, 0.22) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.26) 0 -28px 0 0, rgba(0, 0, 0, 0.3) 16px -22px 0 0, rgba(0, 0, 0, 0.34) 26px -9px 0 0, rgba(0, 0, 0, 0.38) 26px 9px 0 0, rgba(0, 0, 0, 0.02) 16px 22px 0 0, rgba(0, 0, 0, 0.06) 0 28px 0 0, rgba(0, 0, 0, 0.1) -16px 22px 0 0, rgba(0, 0, 0, 0.14) -26px 9px 0 0, rgba(0, 0, 0, 0.18) -26px -9px 0 0, rgba(0, 0, 0, 0.22) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.26) 0 -28px 0 0, rgba(0, 0, 0, 0.3) 16px -22px 0 0, rgba(0, 0, 0, 0.34) 26px -9px 0 0, rgba(0, 0, 0, 0.38) 26px 9px 0 0, rgba(0, 0, 0, 0.02) 16px 22px 0 0, rgba(0, 0, 0, 0.06) 0 28px 0 0, rgba(0, 0, 0, 0.1) -16px 22px 0 0, rgba(0, 0, 0, 0.14) -26px 9px 0 0, rgba(0, 0, 0, 0.18) -26px -9px 0 0, rgba(0, 0, 0, 0.22) -16px -22px 0 0; }

  40% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.22) 0 -28px 0 0, rgba(0, 0, 0, 0.26) 16px -22px 0 0, rgba(0, 0, 0, 0.3) 26px -9px 0 0, rgba(0, 0, 0, 0.34) 26px 9px 0 0, rgba(0, 0, 0, 0.38) 16px 22px 0 0, rgba(0, 0, 0, 0.02) 0 28px 0 0, rgba(0, 0, 0, 0.06) -16px 22px 0 0, rgba(0, 0, 0, 0.1) -26px 9px 0 0, rgba(0, 0, 0, 0.14) -26px -9px 0 0, rgba(0, 0, 0, 0.18) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.22) 0 -28px 0 0, rgba(0, 0, 0, 0.26) 16px -22px 0 0, rgba(0, 0, 0, 0.3) 26px -9px 0 0, rgba(0, 0, 0, 0.34) 26px 9px 0 0, rgba(0, 0, 0, 0.38) 16px 22px 0 0, rgba(0, 0, 0, 0.02) 0 28px 0 0, rgba(0, 0, 0, 0.06) -16px 22px 0 0, rgba(0, 0, 0, 0.1) -26px 9px 0 0, rgba(0, 0, 0, 0.14) -26px -9px 0 0, rgba(0, 0, 0, 0.18) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.22) 0 -28px 0 0, rgba(0, 0, 0, 0.26) 16px -22px 0 0, rgba(0, 0, 0, 0.3) 26px -9px 0 0, rgba(0, 0, 0, 0.34) 26px 9px 0 0, rgba(0, 0, 0, 0.38) 16px 22px 0 0, rgba(0, 0, 0, 0.02) 0 28px 0 0, rgba(0, 0, 0, 0.06) -16px 22px 0 0, rgba(0, 0, 0, 0.1) -26px 9px 0 0, rgba(0, 0, 0, 0.14) -26px -9px 0 0, rgba(0, 0, 0, 0.18) -16px -22px 0 0; }

  50% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.18) 0 -28px 0 0, rgba(0, 0, 0, 0.22) 16px -22px 0 0, rgba(0, 0, 0, 0.26) 26px -9px 0 0, rgba(0, 0, 0, 0.3) 26px 9px 0 0, rgba(0, 0, 0, 0.34) 16px 22px 0 0, rgba(0, 0, 0, 0.38) 0 28px 0 0, rgba(0, 0, 0, 0.02) -16px 22px 0 0, rgba(0, 0, 0, 0.06) -26px 9px 0 0, rgba(0, 0, 0, 0.1) -26px -9px 0 0, rgba(0, 0, 0, 0.14) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.18) 0 -28px 0 0, rgba(0, 0, 0, 0.22) 16px -22px 0 0, rgba(0, 0, 0, 0.26) 26px -9px 0 0, rgba(0, 0, 0, 0.3) 26px 9px 0 0, rgba(0, 0, 0, 0.34) 16px 22px 0 0, rgba(0, 0, 0, 0.38) 0 28px 0 0, rgba(0, 0, 0, 0.02) -16px 22px 0 0, rgba(0, 0, 0, 0.06) -26px 9px 0 0, rgba(0, 0, 0, 0.1) -26px -9px 0 0, rgba(0, 0, 0, 0.14) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.18) 0 -28px 0 0, rgba(0, 0, 0, 0.22) 16px -22px 0 0, rgba(0, 0, 0, 0.26) 26px -9px 0 0, rgba(0, 0, 0, 0.3) 26px 9px 0 0, rgba(0, 0, 0, 0.34) 16px 22px 0 0, rgba(0, 0, 0, 0.38) 0 28px 0 0, rgba(0, 0, 0, 0.02) -16px 22px 0 0, rgba(0, 0, 0, 0.06) -26px 9px 0 0, rgba(0, 0, 0, 0.1) -26px -9px 0 0, rgba(0, 0, 0, 0.14) -16px -22px 0 0; }

  60% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.14) 0 -28px 0 0, rgba(0, 0, 0, 0.18) 16px -22px 0 0, rgba(0, 0, 0, 0.22) 26px -9px 0 0, rgba(0, 0, 0, 0.26) 26px 9px 0 0, rgba(0, 0, 0, 0.3) 16px 22px 0 0, rgba(0, 0, 0, 0.34) 0 28px 0 0, rgba(0, 0, 0, 0.38) -16px 22px 0 0, rgba(0, 0, 0, 0.02) -26px 9px 0 0, rgba(0, 0, 0, 0.06) -26px -9px 0 0, rgba(0, 0, 0, 0.1) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.14) 0 -28px 0 0, rgba(0, 0, 0, 0.18) 16px -22px 0 0, rgba(0, 0, 0, 0.22) 26px -9px 0 0, rgba(0, 0, 0, 0.26) 26px 9px 0 0, rgba(0, 0, 0, 0.3) 16px 22px 0 0, rgba(0, 0, 0, 0.34) 0 28px 0 0, rgba(0, 0, 0, 0.38) -16px 22px 0 0, rgba(0, 0, 0, 0.02) -26px 9px 0 0, rgba(0, 0, 0, 0.06) -26px -9px 0 0, rgba(0, 0, 0, 0.1) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.14) 0 -28px 0 0, rgba(0, 0, 0, 0.18) 16px -22px 0 0, rgba(0, 0, 0, 0.22) 26px -9px 0 0, rgba(0, 0, 0, 0.26) 26px 9px 0 0, rgba(0, 0, 0, 0.3) 16px 22px 0 0, rgba(0, 0, 0, 0.34) 0 28px 0 0, rgba(0, 0, 0, 0.38) -16px 22px 0 0, rgba(0, 0, 0, 0.02) -26px 9px 0 0, rgba(0, 0, 0, 0.06) -26px -9px 0 0, rgba(0, 0, 0, 0.1) -16px -22px 0 0; }

  70% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 -28px 0 0, rgba(0, 0, 0, 0.14) 16px -22px 0 0, rgba(0, 0, 0, 0.18) 26px -9px 0 0, rgba(0, 0, 0, 0.22) 26px 9px 0 0, rgba(0, 0, 0, 0.26) 16px 22px 0 0, rgba(0, 0, 0, 0.3) 0 28px 0 0, rgba(0, 0, 0, 0.34) -16px 22px 0 0, rgba(0, 0, 0, 0.38) -26px 9px 0 0, rgba(0, 0, 0, 0.02) -26px -9px 0 0, rgba(0, 0, 0, 0.06) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 -28px 0 0, rgba(0, 0, 0, 0.14) 16px -22px 0 0, rgba(0, 0, 0, 0.18) 26px -9px 0 0, rgba(0, 0, 0, 0.22) 26px 9px 0 0, rgba(0, 0, 0, 0.26) 16px 22px 0 0, rgba(0, 0, 0, 0.3) 0 28px 0 0, rgba(0, 0, 0, 0.34) -16px 22px 0 0, rgba(0, 0, 0, 0.38) -26px 9px 0 0, rgba(0, 0, 0, 0.02) -26px -9px 0 0, rgba(0, 0, 0, 0.06) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0 -28px 0 0, rgba(0, 0, 0, 0.14) 16px -22px 0 0, rgba(0, 0, 0, 0.18) 26px -9px 0 0, rgba(0, 0, 0, 0.22) 26px 9px 0 0, rgba(0, 0, 0, 0.26) 16px 22px 0 0, rgba(0, 0, 0, 0.3) 0 28px 0 0, rgba(0, 0, 0, 0.34) -16px 22px 0 0, rgba(0, 0, 0, 0.38) -26px 9px 0 0, rgba(0, 0, 0, 0.02) -26px -9px 0 0, rgba(0, 0, 0, 0.06) -16px -22px 0 0; }

  80% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0 -28px 0 0, rgba(0, 0, 0, 0.1) 16px -22px 0 0, rgba(0, 0, 0, 0.14) 26px -9px 0 0, rgba(0, 0, 0, 0.18) 26px 9px 0 0, rgba(0, 0, 0, 0.22) 16px 22px 0 0, rgba(0, 0, 0, 0.26) 0 28px 0 0, rgba(0, 0, 0, 0.3) -16px 22px 0 0, rgba(0, 0, 0, 0.34) -26px 9px 0 0, rgba(0, 0, 0, 0.38) -26px -9px 0 0, rgba(0, 0, 0, 0.02) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.06) 0 -28px 0 0, rgba(0, 0, 0, 0.1) 16px -22px 0 0, rgba(0, 0, 0, 0.14) 26px -9px 0 0, rgba(0, 0, 0, 0.18) 26px 9px 0 0, rgba(0, 0, 0, 0.22) 16px 22px 0 0, rgba(0, 0, 0, 0.26) 0 28px 0 0, rgba(0, 0, 0, 0.3) -16px 22px 0 0, rgba(0, 0, 0, 0.34) -26px 9px 0 0, rgba(0, 0, 0, 0.38) -26px -9px 0 0, rgba(0, 0, 0, 0.02) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.06) 0 -28px 0 0, rgba(0, 0, 0, 0.1) 16px -22px 0 0, rgba(0, 0, 0, 0.14) 26px -9px 0 0, rgba(0, 0, 0, 0.18) 26px 9px 0 0, rgba(0, 0, 0, 0.22) 16px 22px 0 0, rgba(0, 0, 0, 0.26) 0 28px 0 0, rgba(0, 0, 0, 0.3) -16px 22px 0 0, rgba(0, 0, 0, 0.34) -26px 9px 0 0, rgba(0, 0, 0, 0.38) -26px -9px 0 0, rgba(0, 0, 0, 0.02) -16px -22px 0 0; }

  90% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0 -28px 0 0, rgba(0, 0, 0, 0.06) 16px -22px 0 0, rgba(0, 0, 0, 0.1) 26px -9px 0 0, rgba(0, 0, 0, 0.14) 26px 9px 0 0, rgba(0, 0, 0, 0.18) 16px 22px 0 0, rgba(0, 0, 0, 0.22) 0 28px 0 0, rgba(0, 0, 0, 0.26) -16px 22px 0 0, rgba(0, 0, 0, 0.3) -26px 9px 0 0, rgba(0, 0, 0, 0.34) -26px -9px 0 0, rgba(0, 0, 0, 0.38) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.02) 0 -28px 0 0, rgba(0, 0, 0, 0.06) 16px -22px 0 0, rgba(0, 0, 0, 0.1) 26px -9px 0 0, rgba(0, 0, 0, 0.14) 26px 9px 0 0, rgba(0, 0, 0, 0.18) 16px 22px 0 0, rgba(0, 0, 0, 0.22) 0 28px 0 0, rgba(0, 0, 0, 0.26) -16px 22px 0 0, rgba(0, 0, 0, 0.3) -26px 9px 0 0, rgba(0, 0, 0, 0.34) -26px -9px 0 0, rgba(0, 0, 0, 0.38) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.02) 0 -28px 0 0, rgba(0, 0, 0, 0.06) 16px -22px 0 0, rgba(0, 0, 0, 0.1) 26px -9px 0 0, rgba(0, 0, 0, 0.14) 26px 9px 0 0, rgba(0, 0, 0, 0.18) 16px 22px 0 0, rgba(0, 0, 0, 0.22) 0 28px 0 0, rgba(0, 0, 0, 0.26) -16px 22px 0 0, rgba(0, 0, 0, 0.3) -26px 9px 0 0, rgba(0, 0, 0, 0.34) -26px -9px 0 0, rgba(0, 0, 0, 0.38) -16px -22px 0 0; }

  100% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.38) 0 -28px 0 0, rgba(0, 0, 0, 0.02) 16px -22px 0 0, rgba(0, 0, 0, 0.06) 26px -9px 0 0, rgba(0, 0, 0, 0.1) 26px 9px 0 0, rgba(0, 0, 0, 0.14) 16px 22px 0 0, rgba(0, 0, 0, 0.18) 0 28px 0 0, rgba(0, 0, 0, 0.22) -16px 22px 0 0, rgba(0, 0, 0, 0.26) -26px 9px 0 0, rgba(0, 0, 0, 0.3) -26px -9px 0 0, rgba(0, 0, 0, 0.34) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.38) 0 -28px 0 0, rgba(0, 0, 0, 0.02) 16px -22px 0 0, rgba(0, 0, 0, 0.06) 26px -9px 0 0, rgba(0, 0, 0, 0.1) 26px 9px 0 0, rgba(0, 0, 0, 0.14) 16px 22px 0 0, rgba(0, 0, 0, 0.18) 0 28px 0 0, rgba(0, 0, 0, 0.22) -16px 22px 0 0, rgba(0, 0, 0, 0.26) -26px 9px 0 0, rgba(0, 0, 0, 0.3) -26px -9px 0 0, rgba(0, 0, 0, 0.34) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.38) 0 -28px 0 0, rgba(0, 0, 0, 0.02) 16px -22px 0 0, rgba(0, 0, 0, 0.06) 26px -9px 0 0, rgba(0, 0, 0, 0.1) 26px 9px 0 0, rgba(0, 0, 0, 0.14) 16px 22px 0 0, rgba(0, 0, 0, 0.18) 0 28px 0 0, rgba(0, 0, 0, 0.22) -16px 22px 0 0, rgba(0, 0, 0, 0.26) -26px 9px 0 0, rgba(0, 0, 0, 0.3) -26px -9px 0 0, rgba(0, 0, 0, 0.34) -16px -22px 0 0; } }

@-moz-keyframes circle-loading {
  0% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.38) 0 -28px 0 0, rgba(0, 0, 0, 0.02) 16px -22px 0 0, rgba(0, 0, 0, 0.06) 26px -9px 0 0, rgba(0, 0, 0, 0.1) 26px 9px 0 0, rgba(0, 0, 0, 0.14) 16px 22px 0 0, rgba(0, 0, 0, 0.18) 0 28px 0 0, rgba(0, 0, 0, 0.22) -16px 22px 0 0, rgba(0, 0, 0, 0.26) -26px 9px 0 0, rgba(0, 0, 0, 0.3) -26px -9px 0 0, rgba(0, 0, 0, 0.34) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.38) 0 -28px 0 0, rgba(0, 0, 0, 0.02) 16px -22px 0 0, rgba(0, 0, 0, 0.06) 26px -9px 0 0, rgba(0, 0, 0, 0.1) 26px 9px 0 0, rgba(0, 0, 0, 0.14) 16px 22px 0 0, rgba(0, 0, 0, 0.18) 0 28px 0 0, rgba(0, 0, 0, 0.22) -16px 22px 0 0, rgba(0, 0, 0, 0.26) -26px 9px 0 0, rgba(0, 0, 0, 0.3) -26px -9px 0 0, rgba(0, 0, 0, 0.34) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.38) 0 -28px 0 0, rgba(0, 0, 0, 0.02) 16px -22px 0 0, rgba(0, 0, 0, 0.06) 26px -9px 0 0, rgba(0, 0, 0, 0.1) 26px 9px 0 0, rgba(0, 0, 0, 0.14) 16px 22px 0 0, rgba(0, 0, 0, 0.18) 0 28px 0 0, rgba(0, 0, 0, 0.22) -16px 22px 0 0, rgba(0, 0, 0, 0.26) -26px 9px 0 0, rgba(0, 0, 0, 0.3) -26px -9px 0 0, rgba(0, 0, 0, 0.34) -16px -22px 0 0; }

  10% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.34) 0 -28px 0 0, rgba(0, 0, 0, 0.38) 16px -22px 0 0, rgba(0, 0, 0, 0.02) 26px -9px 0 0, rgba(0, 0, 0, 0.06) 26px 9px 0 0, rgba(0, 0, 0, 0.1) 16px 22px 0 0, rgba(0, 0, 0, 0.14) 0 28px 0 0, rgba(0, 0, 0, 0.18) -16px 22px 0 0, rgba(0, 0, 0, 0.22) -26px 9px 0 0, rgba(0, 0, 0, 0.26) -26px -9px 0 0, rgba(0, 0, 0, 0.3) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.34) 0 -28px 0 0, rgba(0, 0, 0, 0.38) 16px -22px 0 0, rgba(0, 0, 0, 0.02) 26px -9px 0 0, rgba(0, 0, 0, 0.06) 26px 9px 0 0, rgba(0, 0, 0, 0.1) 16px 22px 0 0, rgba(0, 0, 0, 0.14) 0 28px 0 0, rgba(0, 0, 0, 0.18) -16px 22px 0 0, rgba(0, 0, 0, 0.22) -26px 9px 0 0, rgba(0, 0, 0, 0.26) -26px -9px 0 0, rgba(0, 0, 0, 0.3) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.34) 0 -28px 0 0, rgba(0, 0, 0, 0.38) 16px -22px 0 0, rgba(0, 0, 0, 0.02) 26px -9px 0 0, rgba(0, 0, 0, 0.06) 26px 9px 0 0, rgba(0, 0, 0, 0.1) 16px 22px 0 0, rgba(0, 0, 0, 0.14) 0 28px 0 0, rgba(0, 0, 0, 0.18) -16px 22px 0 0, rgba(0, 0, 0, 0.22) -26px 9px 0 0, rgba(0, 0, 0, 0.26) -26px -9px 0 0, rgba(0, 0, 0, 0.3) -16px -22px 0 0; }

  20% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 -28px 0 0, rgba(0, 0, 0, 0.34) 16px -22px 0 0, rgba(0, 0, 0, 0.38) 26px -9px 0 0, rgba(0, 0, 0, 0.02) 26px 9px 0 0, rgba(0, 0, 0, 0.06) 16px 22px 0 0, rgba(0, 0, 0, 0.1) 0 28px 0 0, rgba(0, 0, 0, 0.14) -16px 22px 0 0, rgba(0, 0, 0, 0.18) -26px 9px 0 0, rgba(0, 0, 0, 0.22) -26px -9px 0 0, rgba(0, 0, 0, 0.26) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 -28px 0 0, rgba(0, 0, 0, 0.34) 16px -22px 0 0, rgba(0, 0, 0, 0.38) 26px -9px 0 0, rgba(0, 0, 0, 0.02) 26px 9px 0 0, rgba(0, 0, 0, 0.06) 16px 22px 0 0, rgba(0, 0, 0, 0.1) 0 28px 0 0, rgba(0, 0, 0, 0.14) -16px 22px 0 0, rgba(0, 0, 0, 0.18) -26px 9px 0 0, rgba(0, 0, 0, 0.22) -26px -9px 0 0, rgba(0, 0, 0, 0.26) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0 -28px 0 0, rgba(0, 0, 0, 0.34) 16px -22px 0 0, rgba(0, 0, 0, 0.38) 26px -9px 0 0, rgba(0, 0, 0, 0.02) 26px 9px 0 0, rgba(0, 0, 0, 0.06) 16px 22px 0 0, rgba(0, 0, 0, 0.1) 0 28px 0 0, rgba(0, 0, 0, 0.14) -16px 22px 0 0, rgba(0, 0, 0, 0.18) -26px 9px 0 0, rgba(0, 0, 0, 0.22) -26px -9px 0 0, rgba(0, 0, 0, 0.26) -16px -22px 0 0; }

  30% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.26) 0 -28px 0 0, rgba(0, 0, 0, 0.3) 16px -22px 0 0, rgba(0, 0, 0, 0.34) 26px -9px 0 0, rgba(0, 0, 0, 0.38) 26px 9px 0 0, rgba(0, 0, 0, 0.02) 16px 22px 0 0, rgba(0, 0, 0, 0.06) 0 28px 0 0, rgba(0, 0, 0, 0.1) -16px 22px 0 0, rgba(0, 0, 0, 0.14) -26px 9px 0 0, rgba(0, 0, 0, 0.18) -26px -9px 0 0, rgba(0, 0, 0, 0.22) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.26) 0 -28px 0 0, rgba(0, 0, 0, 0.3) 16px -22px 0 0, rgba(0, 0, 0, 0.34) 26px -9px 0 0, rgba(0, 0, 0, 0.38) 26px 9px 0 0, rgba(0, 0, 0, 0.02) 16px 22px 0 0, rgba(0, 0, 0, 0.06) 0 28px 0 0, rgba(0, 0, 0, 0.1) -16px 22px 0 0, rgba(0, 0, 0, 0.14) -26px 9px 0 0, rgba(0, 0, 0, 0.18) -26px -9px 0 0, rgba(0, 0, 0, 0.22) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.26) 0 -28px 0 0, rgba(0, 0, 0, 0.3) 16px -22px 0 0, rgba(0, 0, 0, 0.34) 26px -9px 0 0, rgba(0, 0, 0, 0.38) 26px 9px 0 0, rgba(0, 0, 0, 0.02) 16px 22px 0 0, rgba(0, 0, 0, 0.06) 0 28px 0 0, rgba(0, 0, 0, 0.1) -16px 22px 0 0, rgba(0, 0, 0, 0.14) -26px 9px 0 0, rgba(0, 0, 0, 0.18) -26px -9px 0 0, rgba(0, 0, 0, 0.22) -16px -22px 0 0; }

  40% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.22) 0 -28px 0 0, rgba(0, 0, 0, 0.26) 16px -22px 0 0, rgba(0, 0, 0, 0.3) 26px -9px 0 0, rgba(0, 0, 0, 0.34) 26px 9px 0 0, rgba(0, 0, 0, 0.38) 16px 22px 0 0, rgba(0, 0, 0, 0.02) 0 28px 0 0, rgba(0, 0, 0, 0.06) -16px 22px 0 0, rgba(0, 0, 0, 0.1) -26px 9px 0 0, rgba(0, 0, 0, 0.14) -26px -9px 0 0, rgba(0, 0, 0, 0.18) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.22) 0 -28px 0 0, rgba(0, 0, 0, 0.26) 16px -22px 0 0, rgba(0, 0, 0, 0.3) 26px -9px 0 0, rgba(0, 0, 0, 0.34) 26px 9px 0 0, rgba(0, 0, 0, 0.38) 16px 22px 0 0, rgba(0, 0, 0, 0.02) 0 28px 0 0, rgba(0, 0, 0, 0.06) -16px 22px 0 0, rgba(0, 0, 0, 0.1) -26px 9px 0 0, rgba(0, 0, 0, 0.14) -26px -9px 0 0, rgba(0, 0, 0, 0.18) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.22) 0 -28px 0 0, rgba(0, 0, 0, 0.26) 16px -22px 0 0, rgba(0, 0, 0, 0.3) 26px -9px 0 0, rgba(0, 0, 0, 0.34) 26px 9px 0 0, rgba(0, 0, 0, 0.38) 16px 22px 0 0, rgba(0, 0, 0, 0.02) 0 28px 0 0, rgba(0, 0, 0, 0.06) -16px 22px 0 0, rgba(0, 0, 0, 0.1) -26px 9px 0 0, rgba(0, 0, 0, 0.14) -26px -9px 0 0, rgba(0, 0, 0, 0.18) -16px -22px 0 0; }

  50% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.18) 0 -28px 0 0, rgba(0, 0, 0, 0.22) 16px -22px 0 0, rgba(0, 0, 0, 0.26) 26px -9px 0 0, rgba(0, 0, 0, 0.3) 26px 9px 0 0, rgba(0, 0, 0, 0.34) 16px 22px 0 0, rgba(0, 0, 0, 0.38) 0 28px 0 0, rgba(0, 0, 0, 0.02) -16px 22px 0 0, rgba(0, 0, 0, 0.06) -26px 9px 0 0, rgba(0, 0, 0, 0.1) -26px -9px 0 0, rgba(0, 0, 0, 0.14) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.18) 0 -28px 0 0, rgba(0, 0, 0, 0.22) 16px -22px 0 0, rgba(0, 0, 0, 0.26) 26px -9px 0 0, rgba(0, 0, 0, 0.3) 26px 9px 0 0, rgba(0, 0, 0, 0.34) 16px 22px 0 0, rgba(0, 0, 0, 0.38) 0 28px 0 0, rgba(0, 0, 0, 0.02) -16px 22px 0 0, rgba(0, 0, 0, 0.06) -26px 9px 0 0, rgba(0, 0, 0, 0.1) -26px -9px 0 0, rgba(0, 0, 0, 0.14) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.18) 0 -28px 0 0, rgba(0, 0, 0, 0.22) 16px -22px 0 0, rgba(0, 0, 0, 0.26) 26px -9px 0 0, rgba(0, 0, 0, 0.3) 26px 9px 0 0, rgba(0, 0, 0, 0.34) 16px 22px 0 0, rgba(0, 0, 0, 0.38) 0 28px 0 0, rgba(0, 0, 0, 0.02) -16px 22px 0 0, rgba(0, 0, 0, 0.06) -26px 9px 0 0, rgba(0, 0, 0, 0.1) -26px -9px 0 0, rgba(0, 0, 0, 0.14) -16px -22px 0 0; }

  60% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.14) 0 -28px 0 0, rgba(0, 0, 0, 0.18) 16px -22px 0 0, rgba(0, 0, 0, 0.22) 26px -9px 0 0, rgba(0, 0, 0, 0.26) 26px 9px 0 0, rgba(0, 0, 0, 0.3) 16px 22px 0 0, rgba(0, 0, 0, 0.34) 0 28px 0 0, rgba(0, 0, 0, 0.38) -16px 22px 0 0, rgba(0, 0, 0, 0.02) -26px 9px 0 0, rgba(0, 0, 0, 0.06) -26px -9px 0 0, rgba(0, 0, 0, 0.1) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.14) 0 -28px 0 0, rgba(0, 0, 0, 0.18) 16px -22px 0 0, rgba(0, 0, 0, 0.22) 26px -9px 0 0, rgba(0, 0, 0, 0.26) 26px 9px 0 0, rgba(0, 0, 0, 0.3) 16px 22px 0 0, rgba(0, 0, 0, 0.34) 0 28px 0 0, rgba(0, 0, 0, 0.38) -16px 22px 0 0, rgba(0, 0, 0, 0.02) -26px 9px 0 0, rgba(0, 0, 0, 0.06) -26px -9px 0 0, rgba(0, 0, 0, 0.1) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.14) 0 -28px 0 0, rgba(0, 0, 0, 0.18) 16px -22px 0 0, rgba(0, 0, 0, 0.22) 26px -9px 0 0, rgba(0, 0, 0, 0.26) 26px 9px 0 0, rgba(0, 0, 0, 0.3) 16px 22px 0 0, rgba(0, 0, 0, 0.34) 0 28px 0 0, rgba(0, 0, 0, 0.38) -16px 22px 0 0, rgba(0, 0, 0, 0.02) -26px 9px 0 0, rgba(0, 0, 0, 0.06) -26px -9px 0 0, rgba(0, 0, 0, 0.1) -16px -22px 0 0; }

  70% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 -28px 0 0, rgba(0, 0, 0, 0.14) 16px -22px 0 0, rgba(0, 0, 0, 0.18) 26px -9px 0 0, rgba(0, 0, 0, 0.22) 26px 9px 0 0, rgba(0, 0, 0, 0.26) 16px 22px 0 0, rgba(0, 0, 0, 0.3) 0 28px 0 0, rgba(0, 0, 0, 0.34) -16px 22px 0 0, rgba(0, 0, 0, 0.38) -26px 9px 0 0, rgba(0, 0, 0, 0.02) -26px -9px 0 0, rgba(0, 0, 0, 0.06) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 -28px 0 0, rgba(0, 0, 0, 0.14) 16px -22px 0 0, rgba(0, 0, 0, 0.18) 26px -9px 0 0, rgba(0, 0, 0, 0.22) 26px 9px 0 0, rgba(0, 0, 0, 0.26) 16px 22px 0 0, rgba(0, 0, 0, 0.3) 0 28px 0 0, rgba(0, 0, 0, 0.34) -16px 22px 0 0, rgba(0, 0, 0, 0.38) -26px 9px 0 0, rgba(0, 0, 0, 0.02) -26px -9px 0 0, rgba(0, 0, 0, 0.06) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0 -28px 0 0, rgba(0, 0, 0, 0.14) 16px -22px 0 0, rgba(0, 0, 0, 0.18) 26px -9px 0 0, rgba(0, 0, 0, 0.22) 26px 9px 0 0, rgba(0, 0, 0, 0.26) 16px 22px 0 0, rgba(0, 0, 0, 0.3) 0 28px 0 0, rgba(0, 0, 0, 0.34) -16px 22px 0 0, rgba(0, 0, 0, 0.38) -26px 9px 0 0, rgba(0, 0, 0, 0.02) -26px -9px 0 0, rgba(0, 0, 0, 0.06) -16px -22px 0 0; }

  80% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0 -28px 0 0, rgba(0, 0, 0, 0.1) 16px -22px 0 0, rgba(0, 0, 0, 0.14) 26px -9px 0 0, rgba(0, 0, 0, 0.18) 26px 9px 0 0, rgba(0, 0, 0, 0.22) 16px 22px 0 0, rgba(0, 0, 0, 0.26) 0 28px 0 0, rgba(0, 0, 0, 0.3) -16px 22px 0 0, rgba(0, 0, 0, 0.34) -26px 9px 0 0, rgba(0, 0, 0, 0.38) -26px -9px 0 0, rgba(0, 0, 0, 0.02) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.06) 0 -28px 0 0, rgba(0, 0, 0, 0.1) 16px -22px 0 0, rgba(0, 0, 0, 0.14) 26px -9px 0 0, rgba(0, 0, 0, 0.18) 26px 9px 0 0, rgba(0, 0, 0, 0.22) 16px 22px 0 0, rgba(0, 0, 0, 0.26) 0 28px 0 0, rgba(0, 0, 0, 0.3) -16px 22px 0 0, rgba(0, 0, 0, 0.34) -26px 9px 0 0, rgba(0, 0, 0, 0.38) -26px -9px 0 0, rgba(0, 0, 0, 0.02) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.06) 0 -28px 0 0, rgba(0, 0, 0, 0.1) 16px -22px 0 0, rgba(0, 0, 0, 0.14) 26px -9px 0 0, rgba(0, 0, 0, 0.18) 26px 9px 0 0, rgba(0, 0, 0, 0.22) 16px 22px 0 0, rgba(0, 0, 0, 0.26) 0 28px 0 0, rgba(0, 0, 0, 0.3) -16px 22px 0 0, rgba(0, 0, 0, 0.34) -26px 9px 0 0, rgba(0, 0, 0, 0.38) -26px -9px 0 0, rgba(0, 0, 0, 0.02) -16px -22px 0 0; }

  90% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0 -28px 0 0, rgba(0, 0, 0, 0.06) 16px -22px 0 0, rgba(0, 0, 0, 0.1) 26px -9px 0 0, rgba(0, 0, 0, 0.14) 26px 9px 0 0, rgba(0, 0, 0, 0.18) 16px 22px 0 0, rgba(0, 0, 0, 0.22) 0 28px 0 0, rgba(0, 0, 0, 0.26) -16px 22px 0 0, rgba(0, 0, 0, 0.3) -26px 9px 0 0, rgba(0, 0, 0, 0.34) -26px -9px 0 0, rgba(0, 0, 0, 0.38) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.02) 0 -28px 0 0, rgba(0, 0, 0, 0.06) 16px -22px 0 0, rgba(0, 0, 0, 0.1) 26px -9px 0 0, rgba(0, 0, 0, 0.14) 26px 9px 0 0, rgba(0, 0, 0, 0.18) 16px 22px 0 0, rgba(0, 0, 0, 0.22) 0 28px 0 0, rgba(0, 0, 0, 0.26) -16px 22px 0 0, rgba(0, 0, 0, 0.3) -26px 9px 0 0, rgba(0, 0, 0, 0.34) -26px -9px 0 0, rgba(0, 0, 0, 0.38) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.02) 0 -28px 0 0, rgba(0, 0, 0, 0.06) 16px -22px 0 0, rgba(0, 0, 0, 0.1) 26px -9px 0 0, rgba(0, 0, 0, 0.14) 26px 9px 0 0, rgba(0, 0, 0, 0.18) 16px 22px 0 0, rgba(0, 0, 0, 0.22) 0 28px 0 0, rgba(0, 0, 0, 0.26) -16px 22px 0 0, rgba(0, 0, 0, 0.3) -26px 9px 0 0, rgba(0, 0, 0, 0.34) -26px -9px 0 0, rgba(0, 0, 0, 0.38) -16px -22px 0 0; }

  100% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.38) 0 -28px 0 0, rgba(0, 0, 0, 0.02) 16px -22px 0 0, rgba(0, 0, 0, 0.06) 26px -9px 0 0, rgba(0, 0, 0, 0.1) 26px 9px 0 0, rgba(0, 0, 0, 0.14) 16px 22px 0 0, rgba(0, 0, 0, 0.18) 0 28px 0 0, rgba(0, 0, 0, 0.22) -16px 22px 0 0, rgba(0, 0, 0, 0.26) -26px 9px 0 0, rgba(0, 0, 0, 0.3) -26px -9px 0 0, rgba(0, 0, 0, 0.34) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.38) 0 -28px 0 0, rgba(0, 0, 0, 0.02) 16px -22px 0 0, rgba(0, 0, 0, 0.06) 26px -9px 0 0, rgba(0, 0, 0, 0.1) 26px 9px 0 0, rgba(0, 0, 0, 0.14) 16px 22px 0 0, rgba(0, 0, 0, 0.18) 0 28px 0 0, rgba(0, 0, 0, 0.22) -16px 22px 0 0, rgba(0, 0, 0, 0.26) -26px 9px 0 0, rgba(0, 0, 0, 0.3) -26px -9px 0 0, rgba(0, 0, 0, 0.34) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.38) 0 -28px 0 0, rgba(0, 0, 0, 0.02) 16px -22px 0 0, rgba(0, 0, 0, 0.06) 26px -9px 0 0, rgba(0, 0, 0, 0.1) 26px 9px 0 0, rgba(0, 0, 0, 0.14) 16px 22px 0 0, rgba(0, 0, 0, 0.18) 0 28px 0 0, rgba(0, 0, 0, 0.22) -16px 22px 0 0, rgba(0, 0, 0, 0.26) -26px 9px 0 0, rgba(0, 0, 0, 0.3) -26px -9px 0 0, rgba(0, 0, 0, 0.34) -16px -22px 0 0; } }

@-o-keyframes circle-loading {
  0% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.38) 0 -28px 0 0, rgba(0, 0, 0, 0.02) 16px -22px 0 0, rgba(0, 0, 0, 0.06) 26px -9px 0 0, rgba(0, 0, 0, 0.1) 26px 9px 0 0, rgba(0, 0, 0, 0.14) 16px 22px 0 0, rgba(0, 0, 0, 0.18) 0 28px 0 0, rgba(0, 0, 0, 0.22) -16px 22px 0 0, rgba(0, 0, 0, 0.26) -26px 9px 0 0, rgba(0, 0, 0, 0.3) -26px -9px 0 0, rgba(0, 0, 0, 0.34) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.38) 0 -28px 0 0, rgba(0, 0, 0, 0.02) 16px -22px 0 0, rgba(0, 0, 0, 0.06) 26px -9px 0 0, rgba(0, 0, 0, 0.1) 26px 9px 0 0, rgba(0, 0, 0, 0.14) 16px 22px 0 0, rgba(0, 0, 0, 0.18) 0 28px 0 0, rgba(0, 0, 0, 0.22) -16px 22px 0 0, rgba(0, 0, 0, 0.26) -26px 9px 0 0, rgba(0, 0, 0, 0.3) -26px -9px 0 0, rgba(0, 0, 0, 0.34) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.38) 0 -28px 0 0, rgba(0, 0, 0, 0.02) 16px -22px 0 0, rgba(0, 0, 0, 0.06) 26px -9px 0 0, rgba(0, 0, 0, 0.1) 26px 9px 0 0, rgba(0, 0, 0, 0.14) 16px 22px 0 0, rgba(0, 0, 0, 0.18) 0 28px 0 0, rgba(0, 0, 0, 0.22) -16px 22px 0 0, rgba(0, 0, 0, 0.26) -26px 9px 0 0, rgba(0, 0, 0, 0.3) -26px -9px 0 0, rgba(0, 0, 0, 0.34) -16px -22px 0 0; }

  10% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.34) 0 -28px 0 0, rgba(0, 0, 0, 0.38) 16px -22px 0 0, rgba(0, 0, 0, 0.02) 26px -9px 0 0, rgba(0, 0, 0, 0.06) 26px 9px 0 0, rgba(0, 0, 0, 0.1) 16px 22px 0 0, rgba(0, 0, 0, 0.14) 0 28px 0 0, rgba(0, 0, 0, 0.18) -16px 22px 0 0, rgba(0, 0, 0, 0.22) -26px 9px 0 0, rgba(0, 0, 0, 0.26) -26px -9px 0 0, rgba(0, 0, 0, 0.3) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.34) 0 -28px 0 0, rgba(0, 0, 0, 0.38) 16px -22px 0 0, rgba(0, 0, 0, 0.02) 26px -9px 0 0, rgba(0, 0, 0, 0.06) 26px 9px 0 0, rgba(0, 0, 0, 0.1) 16px 22px 0 0, rgba(0, 0, 0, 0.14) 0 28px 0 0, rgba(0, 0, 0, 0.18) -16px 22px 0 0, rgba(0, 0, 0, 0.22) -26px 9px 0 0, rgba(0, 0, 0, 0.26) -26px -9px 0 0, rgba(0, 0, 0, 0.3) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.34) 0 -28px 0 0, rgba(0, 0, 0, 0.38) 16px -22px 0 0, rgba(0, 0, 0, 0.02) 26px -9px 0 0, rgba(0, 0, 0, 0.06) 26px 9px 0 0, rgba(0, 0, 0, 0.1) 16px 22px 0 0, rgba(0, 0, 0, 0.14) 0 28px 0 0, rgba(0, 0, 0, 0.18) -16px 22px 0 0, rgba(0, 0, 0, 0.22) -26px 9px 0 0, rgba(0, 0, 0, 0.26) -26px -9px 0 0, rgba(0, 0, 0, 0.3) -16px -22px 0 0; }

  20% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 -28px 0 0, rgba(0, 0, 0, 0.34) 16px -22px 0 0, rgba(0, 0, 0, 0.38) 26px -9px 0 0, rgba(0, 0, 0, 0.02) 26px 9px 0 0, rgba(0, 0, 0, 0.06) 16px 22px 0 0, rgba(0, 0, 0, 0.1) 0 28px 0 0, rgba(0, 0, 0, 0.14) -16px 22px 0 0, rgba(0, 0, 0, 0.18) -26px 9px 0 0, rgba(0, 0, 0, 0.22) -26px -9px 0 0, rgba(0, 0, 0, 0.26) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 -28px 0 0, rgba(0, 0, 0, 0.34) 16px -22px 0 0, rgba(0, 0, 0, 0.38) 26px -9px 0 0, rgba(0, 0, 0, 0.02) 26px 9px 0 0, rgba(0, 0, 0, 0.06) 16px 22px 0 0, rgba(0, 0, 0, 0.1) 0 28px 0 0, rgba(0, 0, 0, 0.14) -16px 22px 0 0, rgba(0, 0, 0, 0.18) -26px 9px 0 0, rgba(0, 0, 0, 0.22) -26px -9px 0 0, rgba(0, 0, 0, 0.26) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0 -28px 0 0, rgba(0, 0, 0, 0.34) 16px -22px 0 0, rgba(0, 0, 0, 0.38) 26px -9px 0 0, rgba(0, 0, 0, 0.02) 26px 9px 0 0, rgba(0, 0, 0, 0.06) 16px 22px 0 0, rgba(0, 0, 0, 0.1) 0 28px 0 0, rgba(0, 0, 0, 0.14) -16px 22px 0 0, rgba(0, 0, 0, 0.18) -26px 9px 0 0, rgba(0, 0, 0, 0.22) -26px -9px 0 0, rgba(0, 0, 0, 0.26) -16px -22px 0 0; }

  30% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.26) 0 -28px 0 0, rgba(0, 0, 0, 0.3) 16px -22px 0 0, rgba(0, 0, 0, 0.34) 26px -9px 0 0, rgba(0, 0, 0, 0.38) 26px 9px 0 0, rgba(0, 0, 0, 0.02) 16px 22px 0 0, rgba(0, 0, 0, 0.06) 0 28px 0 0, rgba(0, 0, 0, 0.1) -16px 22px 0 0, rgba(0, 0, 0, 0.14) -26px 9px 0 0, rgba(0, 0, 0, 0.18) -26px -9px 0 0, rgba(0, 0, 0, 0.22) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.26) 0 -28px 0 0, rgba(0, 0, 0, 0.3) 16px -22px 0 0, rgba(0, 0, 0, 0.34) 26px -9px 0 0, rgba(0, 0, 0, 0.38) 26px 9px 0 0, rgba(0, 0, 0, 0.02) 16px 22px 0 0, rgba(0, 0, 0, 0.06) 0 28px 0 0, rgba(0, 0, 0, 0.1) -16px 22px 0 0, rgba(0, 0, 0, 0.14) -26px 9px 0 0, rgba(0, 0, 0, 0.18) -26px -9px 0 0, rgba(0, 0, 0, 0.22) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.26) 0 -28px 0 0, rgba(0, 0, 0, 0.3) 16px -22px 0 0, rgba(0, 0, 0, 0.34) 26px -9px 0 0, rgba(0, 0, 0, 0.38) 26px 9px 0 0, rgba(0, 0, 0, 0.02) 16px 22px 0 0, rgba(0, 0, 0, 0.06) 0 28px 0 0, rgba(0, 0, 0, 0.1) -16px 22px 0 0, rgba(0, 0, 0, 0.14) -26px 9px 0 0, rgba(0, 0, 0, 0.18) -26px -9px 0 0, rgba(0, 0, 0, 0.22) -16px -22px 0 0; }

  40% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.22) 0 -28px 0 0, rgba(0, 0, 0, 0.26) 16px -22px 0 0, rgba(0, 0, 0, 0.3) 26px -9px 0 0, rgba(0, 0, 0, 0.34) 26px 9px 0 0, rgba(0, 0, 0, 0.38) 16px 22px 0 0, rgba(0, 0, 0, 0.02) 0 28px 0 0, rgba(0, 0, 0, 0.06) -16px 22px 0 0, rgba(0, 0, 0, 0.1) -26px 9px 0 0, rgba(0, 0, 0, 0.14) -26px -9px 0 0, rgba(0, 0, 0, 0.18) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.22) 0 -28px 0 0, rgba(0, 0, 0, 0.26) 16px -22px 0 0, rgba(0, 0, 0, 0.3) 26px -9px 0 0, rgba(0, 0, 0, 0.34) 26px 9px 0 0, rgba(0, 0, 0, 0.38) 16px 22px 0 0, rgba(0, 0, 0, 0.02) 0 28px 0 0, rgba(0, 0, 0, 0.06) -16px 22px 0 0, rgba(0, 0, 0, 0.1) -26px 9px 0 0, rgba(0, 0, 0, 0.14) -26px -9px 0 0, rgba(0, 0, 0, 0.18) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.22) 0 -28px 0 0, rgba(0, 0, 0, 0.26) 16px -22px 0 0, rgba(0, 0, 0, 0.3) 26px -9px 0 0, rgba(0, 0, 0, 0.34) 26px 9px 0 0, rgba(0, 0, 0, 0.38) 16px 22px 0 0, rgba(0, 0, 0, 0.02) 0 28px 0 0, rgba(0, 0, 0, 0.06) -16px 22px 0 0, rgba(0, 0, 0, 0.1) -26px 9px 0 0, rgba(0, 0, 0, 0.14) -26px -9px 0 0, rgba(0, 0, 0, 0.18) -16px -22px 0 0; }

  50% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.18) 0 -28px 0 0, rgba(0, 0, 0, 0.22) 16px -22px 0 0, rgba(0, 0, 0, 0.26) 26px -9px 0 0, rgba(0, 0, 0, 0.3) 26px 9px 0 0, rgba(0, 0, 0, 0.34) 16px 22px 0 0, rgba(0, 0, 0, 0.38) 0 28px 0 0, rgba(0, 0, 0, 0.02) -16px 22px 0 0, rgba(0, 0, 0, 0.06) -26px 9px 0 0, rgba(0, 0, 0, 0.1) -26px -9px 0 0, rgba(0, 0, 0, 0.14) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.18) 0 -28px 0 0, rgba(0, 0, 0, 0.22) 16px -22px 0 0, rgba(0, 0, 0, 0.26) 26px -9px 0 0, rgba(0, 0, 0, 0.3) 26px 9px 0 0, rgba(0, 0, 0, 0.34) 16px 22px 0 0, rgba(0, 0, 0, 0.38) 0 28px 0 0, rgba(0, 0, 0, 0.02) -16px 22px 0 0, rgba(0, 0, 0, 0.06) -26px 9px 0 0, rgba(0, 0, 0, 0.1) -26px -9px 0 0, rgba(0, 0, 0, 0.14) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.18) 0 -28px 0 0, rgba(0, 0, 0, 0.22) 16px -22px 0 0, rgba(0, 0, 0, 0.26) 26px -9px 0 0, rgba(0, 0, 0, 0.3) 26px 9px 0 0, rgba(0, 0, 0, 0.34) 16px 22px 0 0, rgba(0, 0, 0, 0.38) 0 28px 0 0, rgba(0, 0, 0, 0.02) -16px 22px 0 0, rgba(0, 0, 0, 0.06) -26px 9px 0 0, rgba(0, 0, 0, 0.1) -26px -9px 0 0, rgba(0, 0, 0, 0.14) -16px -22px 0 0; }

  60% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.14) 0 -28px 0 0, rgba(0, 0, 0, 0.18) 16px -22px 0 0, rgba(0, 0, 0, 0.22) 26px -9px 0 0, rgba(0, 0, 0, 0.26) 26px 9px 0 0, rgba(0, 0, 0, 0.3) 16px 22px 0 0, rgba(0, 0, 0, 0.34) 0 28px 0 0, rgba(0, 0, 0, 0.38) -16px 22px 0 0, rgba(0, 0, 0, 0.02) -26px 9px 0 0, rgba(0, 0, 0, 0.06) -26px -9px 0 0, rgba(0, 0, 0, 0.1) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.14) 0 -28px 0 0, rgba(0, 0, 0, 0.18) 16px -22px 0 0, rgba(0, 0, 0, 0.22) 26px -9px 0 0, rgba(0, 0, 0, 0.26) 26px 9px 0 0, rgba(0, 0, 0, 0.3) 16px 22px 0 0, rgba(0, 0, 0, 0.34) 0 28px 0 0, rgba(0, 0, 0, 0.38) -16px 22px 0 0, rgba(0, 0, 0, 0.02) -26px 9px 0 0, rgba(0, 0, 0, 0.06) -26px -9px 0 0, rgba(0, 0, 0, 0.1) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.14) 0 -28px 0 0, rgba(0, 0, 0, 0.18) 16px -22px 0 0, rgba(0, 0, 0, 0.22) 26px -9px 0 0, rgba(0, 0, 0, 0.26) 26px 9px 0 0, rgba(0, 0, 0, 0.3) 16px 22px 0 0, rgba(0, 0, 0, 0.34) 0 28px 0 0, rgba(0, 0, 0, 0.38) -16px 22px 0 0, rgba(0, 0, 0, 0.02) -26px 9px 0 0, rgba(0, 0, 0, 0.06) -26px -9px 0 0, rgba(0, 0, 0, 0.1) -16px -22px 0 0; }

  70% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 -28px 0 0, rgba(0, 0, 0, 0.14) 16px -22px 0 0, rgba(0, 0, 0, 0.18) 26px -9px 0 0, rgba(0, 0, 0, 0.22) 26px 9px 0 0, rgba(0, 0, 0, 0.26) 16px 22px 0 0, rgba(0, 0, 0, 0.3) 0 28px 0 0, rgba(0, 0, 0, 0.34) -16px 22px 0 0, rgba(0, 0, 0, 0.38) -26px 9px 0 0, rgba(0, 0, 0, 0.02) -26px -9px 0 0, rgba(0, 0, 0, 0.06) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 -28px 0 0, rgba(0, 0, 0, 0.14) 16px -22px 0 0, rgba(0, 0, 0, 0.18) 26px -9px 0 0, rgba(0, 0, 0, 0.22) 26px 9px 0 0, rgba(0, 0, 0, 0.26) 16px 22px 0 0, rgba(0, 0, 0, 0.3) 0 28px 0 0, rgba(0, 0, 0, 0.34) -16px 22px 0 0, rgba(0, 0, 0, 0.38) -26px 9px 0 0, rgba(0, 0, 0, 0.02) -26px -9px 0 0, rgba(0, 0, 0, 0.06) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0 -28px 0 0, rgba(0, 0, 0, 0.14) 16px -22px 0 0, rgba(0, 0, 0, 0.18) 26px -9px 0 0, rgba(0, 0, 0, 0.22) 26px 9px 0 0, rgba(0, 0, 0, 0.26) 16px 22px 0 0, rgba(0, 0, 0, 0.3) 0 28px 0 0, rgba(0, 0, 0, 0.34) -16px 22px 0 0, rgba(0, 0, 0, 0.38) -26px 9px 0 0, rgba(0, 0, 0, 0.02) -26px -9px 0 0, rgba(0, 0, 0, 0.06) -16px -22px 0 0; }

  80% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0 -28px 0 0, rgba(0, 0, 0, 0.1) 16px -22px 0 0, rgba(0, 0, 0, 0.14) 26px -9px 0 0, rgba(0, 0, 0, 0.18) 26px 9px 0 0, rgba(0, 0, 0, 0.22) 16px 22px 0 0, rgba(0, 0, 0, 0.26) 0 28px 0 0, rgba(0, 0, 0, 0.3) -16px 22px 0 0, rgba(0, 0, 0, 0.34) -26px 9px 0 0, rgba(0, 0, 0, 0.38) -26px -9px 0 0, rgba(0, 0, 0, 0.02) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.06) 0 -28px 0 0, rgba(0, 0, 0, 0.1) 16px -22px 0 0, rgba(0, 0, 0, 0.14) 26px -9px 0 0, rgba(0, 0, 0, 0.18) 26px 9px 0 0, rgba(0, 0, 0, 0.22) 16px 22px 0 0, rgba(0, 0, 0, 0.26) 0 28px 0 0, rgba(0, 0, 0, 0.3) -16px 22px 0 0, rgba(0, 0, 0, 0.34) -26px 9px 0 0, rgba(0, 0, 0, 0.38) -26px -9px 0 0, rgba(0, 0, 0, 0.02) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.06) 0 -28px 0 0, rgba(0, 0, 0, 0.1) 16px -22px 0 0, rgba(0, 0, 0, 0.14) 26px -9px 0 0, rgba(0, 0, 0, 0.18) 26px 9px 0 0, rgba(0, 0, 0, 0.22) 16px 22px 0 0, rgba(0, 0, 0, 0.26) 0 28px 0 0, rgba(0, 0, 0, 0.3) -16px 22px 0 0, rgba(0, 0, 0, 0.34) -26px 9px 0 0, rgba(0, 0, 0, 0.38) -26px -9px 0 0, rgba(0, 0, 0, 0.02) -16px -22px 0 0; }

  90% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0 -28px 0 0, rgba(0, 0, 0, 0.06) 16px -22px 0 0, rgba(0, 0, 0, 0.1) 26px -9px 0 0, rgba(0, 0, 0, 0.14) 26px 9px 0 0, rgba(0, 0, 0, 0.18) 16px 22px 0 0, rgba(0, 0, 0, 0.22) 0 28px 0 0, rgba(0, 0, 0, 0.26) -16px 22px 0 0, rgba(0, 0, 0, 0.3) -26px 9px 0 0, rgba(0, 0, 0, 0.34) -26px -9px 0 0, rgba(0, 0, 0, 0.38) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.02) 0 -28px 0 0, rgba(0, 0, 0, 0.06) 16px -22px 0 0, rgba(0, 0, 0, 0.1) 26px -9px 0 0, rgba(0, 0, 0, 0.14) 26px 9px 0 0, rgba(0, 0, 0, 0.18) 16px 22px 0 0, rgba(0, 0, 0, 0.22) 0 28px 0 0, rgba(0, 0, 0, 0.26) -16px 22px 0 0, rgba(0, 0, 0, 0.3) -26px 9px 0 0, rgba(0, 0, 0, 0.34) -26px -9px 0 0, rgba(0, 0, 0, 0.38) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.02) 0 -28px 0 0, rgba(0, 0, 0, 0.06) 16px -22px 0 0, rgba(0, 0, 0, 0.1) 26px -9px 0 0, rgba(0, 0, 0, 0.14) 26px 9px 0 0, rgba(0, 0, 0, 0.18) 16px 22px 0 0, rgba(0, 0, 0, 0.22) 0 28px 0 0, rgba(0, 0, 0, 0.26) -16px 22px 0 0, rgba(0, 0, 0, 0.3) -26px 9px 0 0, rgba(0, 0, 0, 0.34) -26px -9px 0 0, rgba(0, 0, 0, 0.38) -16px -22px 0 0; }

  100% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.38) 0 -28px 0 0, rgba(0, 0, 0, 0.02) 16px -22px 0 0, rgba(0, 0, 0, 0.06) 26px -9px 0 0, rgba(0, 0, 0, 0.1) 26px 9px 0 0, rgba(0, 0, 0, 0.14) 16px 22px 0 0, rgba(0, 0, 0, 0.18) 0 28px 0 0, rgba(0, 0, 0, 0.22) -16px 22px 0 0, rgba(0, 0, 0, 0.26) -26px 9px 0 0, rgba(0, 0, 0, 0.3) -26px -9px 0 0, rgba(0, 0, 0, 0.34) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.38) 0 -28px 0 0, rgba(0, 0, 0, 0.02) 16px -22px 0 0, rgba(0, 0, 0, 0.06) 26px -9px 0 0, rgba(0, 0, 0, 0.1) 26px 9px 0 0, rgba(0, 0, 0, 0.14) 16px 22px 0 0, rgba(0, 0, 0, 0.18) 0 28px 0 0, rgba(0, 0, 0, 0.22) -16px 22px 0 0, rgba(0, 0, 0, 0.26) -26px 9px 0 0, rgba(0, 0, 0, 0.3) -26px -9px 0 0, rgba(0, 0, 0, 0.34) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.38) 0 -28px 0 0, rgba(0, 0, 0, 0.02) 16px -22px 0 0, rgba(0, 0, 0, 0.06) 26px -9px 0 0, rgba(0, 0, 0, 0.1) 26px 9px 0 0, rgba(0, 0, 0, 0.14) 16px 22px 0 0, rgba(0, 0, 0, 0.18) 0 28px 0 0, rgba(0, 0, 0, 0.22) -16px 22px 0 0, rgba(0, 0, 0, 0.26) -26px 9px 0 0, rgba(0, 0, 0, 0.3) -26px -9px 0 0, rgba(0, 0, 0, 0.34) -16px -22px 0 0; } }

@keyframes circle-loading {
  0% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.38) 0 -28px 0 0, rgba(0, 0, 0, 0.02) 16px -22px 0 0, rgba(0, 0, 0, 0.06) 26px -9px 0 0, rgba(0, 0, 0, 0.1) 26px 9px 0 0, rgba(0, 0, 0, 0.14) 16px 22px 0 0, rgba(0, 0, 0, 0.18) 0 28px 0 0, rgba(0, 0, 0, 0.22) -16px 22px 0 0, rgba(0, 0, 0, 0.26) -26px 9px 0 0, rgba(0, 0, 0, 0.3) -26px -9px 0 0, rgba(0, 0, 0, 0.34) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.38) 0 -28px 0 0, rgba(0, 0, 0, 0.02) 16px -22px 0 0, rgba(0, 0, 0, 0.06) 26px -9px 0 0, rgba(0, 0, 0, 0.1) 26px 9px 0 0, rgba(0, 0, 0, 0.14) 16px 22px 0 0, rgba(0, 0, 0, 0.18) 0 28px 0 0, rgba(0, 0, 0, 0.22) -16px 22px 0 0, rgba(0, 0, 0, 0.26) -26px 9px 0 0, rgba(0, 0, 0, 0.3) -26px -9px 0 0, rgba(0, 0, 0, 0.34) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.38) 0 -28px 0 0, rgba(0, 0, 0, 0.02) 16px -22px 0 0, rgba(0, 0, 0, 0.06) 26px -9px 0 0, rgba(0, 0, 0, 0.1) 26px 9px 0 0, rgba(0, 0, 0, 0.14) 16px 22px 0 0, rgba(0, 0, 0, 0.18) 0 28px 0 0, rgba(0, 0, 0, 0.22) -16px 22px 0 0, rgba(0, 0, 0, 0.26) -26px 9px 0 0, rgba(0, 0, 0, 0.3) -26px -9px 0 0, rgba(0, 0, 0, 0.34) -16px -22px 0 0; }

  10% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.34) 0 -28px 0 0, rgba(0, 0, 0, 0.38) 16px -22px 0 0, rgba(0, 0, 0, 0.02) 26px -9px 0 0, rgba(0, 0, 0, 0.06) 26px 9px 0 0, rgba(0, 0, 0, 0.1) 16px 22px 0 0, rgba(0, 0, 0, 0.14) 0 28px 0 0, rgba(0, 0, 0, 0.18) -16px 22px 0 0, rgba(0, 0, 0, 0.22) -26px 9px 0 0, rgba(0, 0, 0, 0.26) -26px -9px 0 0, rgba(0, 0, 0, 0.3) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.34) 0 -28px 0 0, rgba(0, 0, 0, 0.38) 16px -22px 0 0, rgba(0, 0, 0, 0.02) 26px -9px 0 0, rgba(0, 0, 0, 0.06) 26px 9px 0 0, rgba(0, 0, 0, 0.1) 16px 22px 0 0, rgba(0, 0, 0, 0.14) 0 28px 0 0, rgba(0, 0, 0, 0.18) -16px 22px 0 0, rgba(0, 0, 0, 0.22) -26px 9px 0 0, rgba(0, 0, 0, 0.26) -26px -9px 0 0, rgba(0, 0, 0, 0.3) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.34) 0 -28px 0 0, rgba(0, 0, 0, 0.38) 16px -22px 0 0, rgba(0, 0, 0, 0.02) 26px -9px 0 0, rgba(0, 0, 0, 0.06) 26px 9px 0 0, rgba(0, 0, 0, 0.1) 16px 22px 0 0, rgba(0, 0, 0, 0.14) 0 28px 0 0, rgba(0, 0, 0, 0.18) -16px 22px 0 0, rgba(0, 0, 0, 0.22) -26px 9px 0 0, rgba(0, 0, 0, 0.26) -26px -9px 0 0, rgba(0, 0, 0, 0.3) -16px -22px 0 0; }

  20% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 -28px 0 0, rgba(0, 0, 0, 0.34) 16px -22px 0 0, rgba(0, 0, 0, 0.38) 26px -9px 0 0, rgba(0, 0, 0, 0.02) 26px 9px 0 0, rgba(0, 0, 0, 0.06) 16px 22px 0 0, rgba(0, 0, 0, 0.1) 0 28px 0 0, rgba(0, 0, 0, 0.14) -16px 22px 0 0, rgba(0, 0, 0, 0.18) -26px 9px 0 0, rgba(0, 0, 0, 0.22) -26px -9px 0 0, rgba(0, 0, 0, 0.26) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 -28px 0 0, rgba(0, 0, 0, 0.34) 16px -22px 0 0, rgba(0, 0, 0, 0.38) 26px -9px 0 0, rgba(0, 0, 0, 0.02) 26px 9px 0 0, rgba(0, 0, 0, 0.06) 16px 22px 0 0, rgba(0, 0, 0, 0.1) 0 28px 0 0, rgba(0, 0, 0, 0.14) -16px 22px 0 0, rgba(0, 0, 0, 0.18) -26px 9px 0 0, rgba(0, 0, 0, 0.22) -26px -9px 0 0, rgba(0, 0, 0, 0.26) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0 -28px 0 0, rgba(0, 0, 0, 0.34) 16px -22px 0 0, rgba(0, 0, 0, 0.38) 26px -9px 0 0, rgba(0, 0, 0, 0.02) 26px 9px 0 0, rgba(0, 0, 0, 0.06) 16px 22px 0 0, rgba(0, 0, 0, 0.1) 0 28px 0 0, rgba(0, 0, 0, 0.14) -16px 22px 0 0, rgba(0, 0, 0, 0.18) -26px 9px 0 0, rgba(0, 0, 0, 0.22) -26px -9px 0 0, rgba(0, 0, 0, 0.26) -16px -22px 0 0; }

  30% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.26) 0 -28px 0 0, rgba(0, 0, 0, 0.3) 16px -22px 0 0, rgba(0, 0, 0, 0.34) 26px -9px 0 0, rgba(0, 0, 0, 0.38) 26px 9px 0 0, rgba(0, 0, 0, 0.02) 16px 22px 0 0, rgba(0, 0, 0, 0.06) 0 28px 0 0, rgba(0, 0, 0, 0.1) -16px 22px 0 0, rgba(0, 0, 0, 0.14) -26px 9px 0 0, rgba(0, 0, 0, 0.18) -26px -9px 0 0, rgba(0, 0, 0, 0.22) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.26) 0 -28px 0 0, rgba(0, 0, 0, 0.3) 16px -22px 0 0, rgba(0, 0, 0, 0.34) 26px -9px 0 0, rgba(0, 0, 0, 0.38) 26px 9px 0 0, rgba(0, 0, 0, 0.02) 16px 22px 0 0, rgba(0, 0, 0, 0.06) 0 28px 0 0, rgba(0, 0, 0, 0.1) -16px 22px 0 0, rgba(0, 0, 0, 0.14) -26px 9px 0 0, rgba(0, 0, 0, 0.18) -26px -9px 0 0, rgba(0, 0, 0, 0.22) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.26) 0 -28px 0 0, rgba(0, 0, 0, 0.3) 16px -22px 0 0, rgba(0, 0, 0, 0.34) 26px -9px 0 0, rgba(0, 0, 0, 0.38) 26px 9px 0 0, rgba(0, 0, 0, 0.02) 16px 22px 0 0, rgba(0, 0, 0, 0.06) 0 28px 0 0, rgba(0, 0, 0, 0.1) -16px 22px 0 0, rgba(0, 0, 0, 0.14) -26px 9px 0 0, rgba(0, 0, 0, 0.18) -26px -9px 0 0, rgba(0, 0, 0, 0.22) -16px -22px 0 0; }

  40% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.22) 0 -28px 0 0, rgba(0, 0, 0, 0.26) 16px -22px 0 0, rgba(0, 0, 0, 0.3) 26px -9px 0 0, rgba(0, 0, 0, 0.34) 26px 9px 0 0, rgba(0, 0, 0, 0.38) 16px 22px 0 0, rgba(0, 0, 0, 0.02) 0 28px 0 0, rgba(0, 0, 0, 0.06) -16px 22px 0 0, rgba(0, 0, 0, 0.1) -26px 9px 0 0, rgba(0, 0, 0, 0.14) -26px -9px 0 0, rgba(0, 0, 0, 0.18) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.22) 0 -28px 0 0, rgba(0, 0, 0, 0.26) 16px -22px 0 0, rgba(0, 0, 0, 0.3) 26px -9px 0 0, rgba(0, 0, 0, 0.34) 26px 9px 0 0, rgba(0, 0, 0, 0.38) 16px 22px 0 0, rgba(0, 0, 0, 0.02) 0 28px 0 0, rgba(0, 0, 0, 0.06) -16px 22px 0 0, rgba(0, 0, 0, 0.1) -26px 9px 0 0, rgba(0, 0, 0, 0.14) -26px -9px 0 0, rgba(0, 0, 0, 0.18) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.22) 0 -28px 0 0, rgba(0, 0, 0, 0.26) 16px -22px 0 0, rgba(0, 0, 0, 0.3) 26px -9px 0 0, rgba(0, 0, 0, 0.34) 26px 9px 0 0, rgba(0, 0, 0, 0.38) 16px 22px 0 0, rgba(0, 0, 0, 0.02) 0 28px 0 0, rgba(0, 0, 0, 0.06) -16px 22px 0 0, rgba(0, 0, 0, 0.1) -26px 9px 0 0, rgba(0, 0, 0, 0.14) -26px -9px 0 0, rgba(0, 0, 0, 0.18) -16px -22px 0 0; }

  50% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.18) 0 -28px 0 0, rgba(0, 0, 0, 0.22) 16px -22px 0 0, rgba(0, 0, 0, 0.26) 26px -9px 0 0, rgba(0, 0, 0, 0.3) 26px 9px 0 0, rgba(0, 0, 0, 0.34) 16px 22px 0 0, rgba(0, 0, 0, 0.38) 0 28px 0 0, rgba(0, 0, 0, 0.02) -16px 22px 0 0, rgba(0, 0, 0, 0.06) -26px 9px 0 0, rgba(0, 0, 0, 0.1) -26px -9px 0 0, rgba(0, 0, 0, 0.14) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.18) 0 -28px 0 0, rgba(0, 0, 0, 0.22) 16px -22px 0 0, rgba(0, 0, 0, 0.26) 26px -9px 0 0, rgba(0, 0, 0, 0.3) 26px 9px 0 0, rgba(0, 0, 0, 0.34) 16px 22px 0 0, rgba(0, 0, 0, 0.38) 0 28px 0 0, rgba(0, 0, 0, 0.02) -16px 22px 0 0, rgba(0, 0, 0, 0.06) -26px 9px 0 0, rgba(0, 0, 0, 0.1) -26px -9px 0 0, rgba(0, 0, 0, 0.14) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.18) 0 -28px 0 0, rgba(0, 0, 0, 0.22) 16px -22px 0 0, rgba(0, 0, 0, 0.26) 26px -9px 0 0, rgba(0, 0, 0, 0.3) 26px 9px 0 0, rgba(0, 0, 0, 0.34) 16px 22px 0 0, rgba(0, 0, 0, 0.38) 0 28px 0 0, rgba(0, 0, 0, 0.02) -16px 22px 0 0, rgba(0, 0, 0, 0.06) -26px 9px 0 0, rgba(0, 0, 0, 0.1) -26px -9px 0 0, rgba(0, 0, 0, 0.14) -16px -22px 0 0; }

  60% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.14) 0 -28px 0 0, rgba(0, 0, 0, 0.18) 16px -22px 0 0, rgba(0, 0, 0, 0.22) 26px -9px 0 0, rgba(0, 0, 0, 0.26) 26px 9px 0 0, rgba(0, 0, 0, 0.3) 16px 22px 0 0, rgba(0, 0, 0, 0.34) 0 28px 0 0, rgba(0, 0, 0, 0.38) -16px 22px 0 0, rgba(0, 0, 0, 0.02) -26px 9px 0 0, rgba(0, 0, 0, 0.06) -26px -9px 0 0, rgba(0, 0, 0, 0.1) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.14) 0 -28px 0 0, rgba(0, 0, 0, 0.18) 16px -22px 0 0, rgba(0, 0, 0, 0.22) 26px -9px 0 0, rgba(0, 0, 0, 0.26) 26px 9px 0 0, rgba(0, 0, 0, 0.3) 16px 22px 0 0, rgba(0, 0, 0, 0.34) 0 28px 0 0, rgba(0, 0, 0, 0.38) -16px 22px 0 0, rgba(0, 0, 0, 0.02) -26px 9px 0 0, rgba(0, 0, 0, 0.06) -26px -9px 0 0, rgba(0, 0, 0, 0.1) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.14) 0 -28px 0 0, rgba(0, 0, 0, 0.18) 16px -22px 0 0, rgba(0, 0, 0, 0.22) 26px -9px 0 0, rgba(0, 0, 0, 0.26) 26px 9px 0 0, rgba(0, 0, 0, 0.3) 16px 22px 0 0, rgba(0, 0, 0, 0.34) 0 28px 0 0, rgba(0, 0, 0, 0.38) -16px 22px 0 0, rgba(0, 0, 0, 0.02) -26px 9px 0 0, rgba(0, 0, 0, 0.06) -26px -9px 0 0, rgba(0, 0, 0, 0.1) -16px -22px 0 0; }

  70% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 -28px 0 0, rgba(0, 0, 0, 0.14) 16px -22px 0 0, rgba(0, 0, 0, 0.18) 26px -9px 0 0, rgba(0, 0, 0, 0.22) 26px 9px 0 0, rgba(0, 0, 0, 0.26) 16px 22px 0 0, rgba(0, 0, 0, 0.3) 0 28px 0 0, rgba(0, 0, 0, 0.34) -16px 22px 0 0, rgba(0, 0, 0, 0.38) -26px 9px 0 0, rgba(0, 0, 0, 0.02) -26px -9px 0 0, rgba(0, 0, 0, 0.06) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 -28px 0 0, rgba(0, 0, 0, 0.14) 16px -22px 0 0, rgba(0, 0, 0, 0.18) 26px -9px 0 0, rgba(0, 0, 0, 0.22) 26px 9px 0 0, rgba(0, 0, 0, 0.26) 16px 22px 0 0, rgba(0, 0, 0, 0.3) 0 28px 0 0, rgba(0, 0, 0, 0.34) -16px 22px 0 0, rgba(0, 0, 0, 0.38) -26px 9px 0 0, rgba(0, 0, 0, 0.02) -26px -9px 0 0, rgba(0, 0, 0, 0.06) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0 -28px 0 0, rgba(0, 0, 0, 0.14) 16px -22px 0 0, rgba(0, 0, 0, 0.18) 26px -9px 0 0, rgba(0, 0, 0, 0.22) 26px 9px 0 0, rgba(0, 0, 0, 0.26) 16px 22px 0 0, rgba(0, 0, 0, 0.3) 0 28px 0 0, rgba(0, 0, 0, 0.34) -16px 22px 0 0, rgba(0, 0, 0, 0.38) -26px 9px 0 0, rgba(0, 0, 0, 0.02) -26px -9px 0 0, rgba(0, 0, 0, 0.06) -16px -22px 0 0; }

  80% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0 -28px 0 0, rgba(0, 0, 0, 0.1) 16px -22px 0 0, rgba(0, 0, 0, 0.14) 26px -9px 0 0, rgba(0, 0, 0, 0.18) 26px 9px 0 0, rgba(0, 0, 0, 0.22) 16px 22px 0 0, rgba(0, 0, 0, 0.26) 0 28px 0 0, rgba(0, 0, 0, 0.3) -16px 22px 0 0, rgba(0, 0, 0, 0.34) -26px 9px 0 0, rgba(0, 0, 0, 0.38) -26px -9px 0 0, rgba(0, 0, 0, 0.02) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.06) 0 -28px 0 0, rgba(0, 0, 0, 0.1) 16px -22px 0 0, rgba(0, 0, 0, 0.14) 26px -9px 0 0, rgba(0, 0, 0, 0.18) 26px 9px 0 0, rgba(0, 0, 0, 0.22) 16px 22px 0 0, rgba(0, 0, 0, 0.26) 0 28px 0 0, rgba(0, 0, 0, 0.3) -16px 22px 0 0, rgba(0, 0, 0, 0.34) -26px 9px 0 0, rgba(0, 0, 0, 0.38) -26px -9px 0 0, rgba(0, 0, 0, 0.02) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.06) 0 -28px 0 0, rgba(0, 0, 0, 0.1) 16px -22px 0 0, rgba(0, 0, 0, 0.14) 26px -9px 0 0, rgba(0, 0, 0, 0.18) 26px 9px 0 0, rgba(0, 0, 0, 0.22) 16px 22px 0 0, rgba(0, 0, 0, 0.26) 0 28px 0 0, rgba(0, 0, 0, 0.3) -16px 22px 0 0, rgba(0, 0, 0, 0.34) -26px 9px 0 0, rgba(0, 0, 0, 0.38) -26px -9px 0 0, rgba(0, 0, 0, 0.02) -16px -22px 0 0; }

  90% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0 -28px 0 0, rgba(0, 0, 0, 0.06) 16px -22px 0 0, rgba(0, 0, 0, 0.1) 26px -9px 0 0, rgba(0, 0, 0, 0.14) 26px 9px 0 0, rgba(0, 0, 0, 0.18) 16px 22px 0 0, rgba(0, 0, 0, 0.22) 0 28px 0 0, rgba(0, 0, 0, 0.26) -16px 22px 0 0, rgba(0, 0, 0, 0.3) -26px 9px 0 0, rgba(0, 0, 0, 0.34) -26px -9px 0 0, rgba(0, 0, 0, 0.38) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.02) 0 -28px 0 0, rgba(0, 0, 0, 0.06) 16px -22px 0 0, rgba(0, 0, 0, 0.1) 26px -9px 0 0, rgba(0, 0, 0, 0.14) 26px 9px 0 0, rgba(0, 0, 0, 0.18) 16px 22px 0 0, rgba(0, 0, 0, 0.22) 0 28px 0 0, rgba(0, 0, 0, 0.26) -16px 22px 0 0, rgba(0, 0, 0, 0.3) -26px 9px 0 0, rgba(0, 0, 0, 0.34) -26px -9px 0 0, rgba(0, 0, 0, 0.38) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.02) 0 -28px 0 0, rgba(0, 0, 0, 0.06) 16px -22px 0 0, rgba(0, 0, 0, 0.1) 26px -9px 0 0, rgba(0, 0, 0, 0.14) 26px 9px 0 0, rgba(0, 0, 0, 0.18) 16px 22px 0 0, rgba(0, 0, 0, 0.22) 0 28px 0 0, rgba(0, 0, 0, 0.26) -16px 22px 0 0, rgba(0, 0, 0, 0.3) -26px 9px 0 0, rgba(0, 0, 0, 0.34) -26px -9px 0 0, rgba(0, 0, 0, 0.38) -16px -22px 0 0; }

  100% {
    -webkit-box-shadow: rgba(0, 0, 0, 0.38) 0 -28px 0 0, rgba(0, 0, 0, 0.02) 16px -22px 0 0, rgba(0, 0, 0, 0.06) 26px -9px 0 0, rgba(0, 0, 0, 0.1) 26px 9px 0 0, rgba(0, 0, 0, 0.14) 16px 22px 0 0, rgba(0, 0, 0, 0.18) 0 28px 0 0, rgba(0, 0, 0, 0.22) -16px 22px 0 0, rgba(0, 0, 0, 0.26) -26px 9px 0 0, rgba(0, 0, 0, 0.3) -26px -9px 0 0, rgba(0, 0, 0, 0.34) -16px -22px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.38) 0 -28px 0 0, rgba(0, 0, 0, 0.02) 16px -22px 0 0, rgba(0, 0, 0, 0.06) 26px -9px 0 0, rgba(0, 0, 0, 0.1) 26px 9px 0 0, rgba(0, 0, 0, 0.14) 16px 22px 0 0, rgba(0, 0, 0, 0.18) 0 28px 0 0, rgba(0, 0, 0, 0.22) -16px 22px 0 0, rgba(0, 0, 0, 0.26) -26px 9px 0 0, rgba(0, 0, 0, 0.3) -26px -9px 0 0, rgba(0, 0, 0, 0.34) -16px -22px 0 0;
    box-shadow: rgba(0, 0, 0, 0.38) 0 -28px 0 0, rgba(0, 0, 0, 0.02) 16px -22px 0 0, rgba(0, 0, 0, 0.06) 26px -9px 0 0, rgba(0, 0, 0, 0.1) 26px 9px 0 0, rgba(0, 0, 0, 0.14) 16px 22px 0 0, rgba(0, 0, 0, 0.18) 0 28px 0 0, rgba(0, 0, 0, 0.22) -16px 22px 0 0, rgba(0, 0, 0, 0.26) -26px 9px 0 0, rgba(0, 0, 0, 0.3) -26px -9px 0 0, rgba(0, 0, 0, 0.34) -16px -22px 0 0; } }

/* CSS styles in this file are need for proper Baron work */
.b-baron__wrapper {
  overflow: hidden; }

.b-baron__scrollable {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
  border: 0; }

.b-baron__scrollable::-webkit-scrollbar {
  width: 0; }

.b-baron__track {
  display: none;
  /* Invisible by default */
  position: absolute;
  right: 4px;
  top: 4px;
  bottom: 4px;
  width: 10px;
  background: rgba(0, 0, 0, 0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; }
  .b-baron__wrapper:hover .b-baron__track {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }

.b-baron_active .b-baron__track {
  display: block;
  /* Visible when scrolling is possible */ }

.b-baron__bar {
  /* The bar. You should define width, right position and background */
  position: absolute;
  z-index: 1;
  right: 0;
  width: 10px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, form {
  margin: 0px;
  padding: 0px; }

a {
  color: #9b9b9b;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.b-app {
  position: relative;
  width: 320px;
  height: 475px;
  background-color: #f7f7f7;
  font-family: 'open_sansregular';
  font-size: 13px;
  cursor: default;
  border: solid 2px #468ee5; }

.b-app__header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 30px;
  text-align: center;
  background-color: #468ee5;
  color: white;
  font-size: 120%; }

.b-app__header__menu {
  display: none;
  position: absolute;
  text-decoration: none;
  width: 20px;
  height: 20px;
  top: 5px;
  left: 9px;
  background-position: 0 -57px; }

.b-app__header__title {
  display: inline-block;
  line-height: 30px;
  color: inherit;
  text-decoration: none !important;
  cursor: pointer; }
  .b-app__header__title:after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 0.5em;
    margin-bottom: -4px;
    background-position: 0 0; }

.b-connection {
  position: absolute;
  top: 30px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 200;
  background-color: #f7f7f7; }

.b-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100; }
  .b-spinner:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-animation: circle-loading 1.2s infinite;
    -moz-animation: circle-loading 1.2s infinite;
    -o-animation: circle-loading 1.2s infinite;
    animation: circle-loading 1.2s infinite; }

.b-login {
  position: absolute;
  top: 30px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 200;
  background-color: #f7f7f7; }

.b-login__form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -125px;
  margin-top: -130px;
  width: 250px;
  height: 300px;
  text-align: center; }

.b-login__form__text {
  margin-top: 36px;
  color: #4a4a4a; }

.b-login__form__nick {
  margin-top: 14px;
  width: 100%;
  height: 34px;
  font-size: 110%;
  border: solid 1px #d0d0d0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  padding: 7px; }

.b-login__form__btns {
  margin-top: 14px;
  width: 100%;
  line-height: 30px; }

.b-login__form__cancel {
  float: left; }

.b-login__form__dologin {
  float: right;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #70c050;
  color: white;
  padding: 7px 14px;
  font-weight: bold;
  cursor: pointer; }
  .b-login__form__dologin:hover {
    background-color: #62b541; }

.b-chat {
  position: absolute;
  top: 30px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 100; }

.b-chat__messages {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 32px; }

.b-chat__messages__scrollable {
  overflow-y: scroll;
  height: 100%;
  width: 100%; }

.b-chat__item {
  position: relative;
  margin: 0px 11px;
  min-height: 40px; }

.b-chat__item__avatar {
  position: absolute;
  top: 24px;
  left: 0px;
  width: 40px;
  height: 40px;
  overflow: hidden; }
  .b-chat__item__avatar img {
    width: 40px;
    height: 40px; }

.b-chat__item__content {
  top: 0px;
  position: relative;
  margin-left: 50px;
  margin-right: 49px; }

.b-chat__item__content__nickname {
  font-size: 90%;
  color: #9b9b9b;
  text-align: left;
  margin-bottom: 7px; }

.b-chat__item__content__bubble {
  position: relative;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 7px; }
  .b-chat__item__content__bubble:after {
    display: block;
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    border: solid 5px;
    left: -10px;
    top: 7px; }
  .b-chat__item_incoming .b-chat__item__content__bubble {
    color: #4a4a4a;
    background-color: #eaeaea; }
    .b-chat__item_incoming .b-chat__item__content__bubble:after {
      border-color: rgba(0, 0, 0, 0) #eaeaea rgba(0, 0, 0, 0) rgba(0, 0, 0, 0); }
  .b-chat__item_outgoing .b-chat__item__content__bubble {
    color: white;
    background-color: #468ee5; }
    .b-chat__item_outgoing .b-chat__item__content__bubble:after {
      border-color: rgba(0, 0, 0, 0) #468ee5 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0); }

.b-chat__item__content__text {
  cursor: text; }

.b-chat__item__content__from {
  font-size: 90%; }
  .b-chat__item_incoming .b-chat__item__content__from {
    color: #9b9b9b;
    text-align: right; }
  .b-chat__item_outgoing .b-chat__item__content__from {
    color: #95bff0;
    text-align: left; }

.b-chat__item__ts {
  position: absolute;
  top: 24px;
  right: 0px;
  width: 42px;
  color: #9b9b9b;
  font-size: 90%;
  white-space: nowrap;
  text-align: right; }

.b-chat__msgline {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 32px;
  border-top: solid 1px #ededed; }

.b-chat__msgline__input {
  border: none;
  outline: none;
  position: absolute;
  padding: 7px;
  height: 100%;
  width: 70%; }

.b-chat__msgline__btn {
  border: none;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30%;
  height: 100%;
  padding: 7px;
  font-weight: bold;
  color: #9b9b9b;
  background: inherit;
  cursor: pointer; }
  .b-chat__msgline__btn:focus {
    border: none; }
  .b-chat__msgline__btn:hover {
    background: #ededed; }
  .b-chat__msgline__btn:disabled {
    color: #cecece;
    background: inherit !important; }
