// theme
$cl_background:     #f7f7f7; // light gray
$cl_chrome:         #468ee5;
$cl_sep_light:      #ededed;
$cl_sep_dark:       #d0d0d0;
$cl_text_dark:      #4a4a4a;
$cl_text_light:     #9b9b9b;
$cl_text_white:     #ffffff;
$cl_transp:         rgba(0,0,0,0);
$cl_shadow:         rgba(155,155,155,0.3);
$cl_accent:         #70c050;

$pane_width:        320px;
$pane_height:       475px;
$header_height:     30px;
$msgline_height:    32px;
$avatar_size:       40px;
$timestamp_width:   45px;
$angle_width:       5px;
$chat_right:        100px;
$base_font_size:    13px;
