@import "compass/css3";
@import "../images/icon/*.png";

// theme
$cl_background:     #f7f7f7; // light gray
$cl_chrome:         #468ee5;
$cl_separator:      #ededed;
$cl_text_dark:      #4a4a4a;
$cl_text_light:     #9b9b9b;
$cl_text_white:     #ffffff;
$cl_transp:         rgba(0,0,0,0);
$cl_shadow:         rgba(155,155,155,0.3);

$pane_width:        320px;
$pane_height:       475px;
$header_height:     30px;
$msgline_height:    32px;
$avatar_size:       47px;
$timestamp_width:   32px;
$angle_width:       5px;

// fonts

@font-face {
    font-family: "PTSans";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/PTS55F-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/PTS55F-webfont.woff") format("woff"), url("/fonts/PTS55F-webfont.ttf") format("truetype"), url("/fonts/PTS55F-webfont.svg#pt_sansregular") format("svg");
}

// reset
* {
    @include box-sizing(border-box);
}

html,body,form {
    margin:0px;
    padding:0px;
}

a {
    color: $cl_text_light;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.b-app {
    position: relative;
    width: $pane_width;
    height: $pane_height;
    background-color: $cl_background; 
    font-family: PTSans;
    font-size: 14px;
    cursor: default;
}
    .b-app__header {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        height: $header_height;

        text-align: center;
        background-color: $cl_chrome;
        color: $cl_text_white;
        font-size: 120%;
    }
        .b-app__header__menu {
            position: absolute;
            text-decoration: none;
            width: 20px;
            height: 20px;
            top: 5px;
            left: 9px;
            @include icon-sprite(menu);
        }
        .b-app__header__title {
            display: inline-block;
            line-height: $header_height;
            color: inherit;
            text-decoration: none;
            cursor: pointer;
            &:after {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-left: 0.5em;
                margin-bottom: -4px;
                @include icon-sprite(logo);
            }
        }

.b-login {
    position: absolute;
    top: $header_height;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 200;
    background-color: $cl_background;
}
    .b-login__form {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -100px;
        margin-top: -100px;
        width: 200px;
        height: 200px;
        text-align: center;
    }
        .b-login__form__text {
            margin-top: 36px;
        }
        .b-login__form__nick {
            margin-top: 14px;
            width: 100%;
            border: solid 1px $cl_separator;
            @include border-radius(5px);
            background: #fff;
            padding: 7px;
        }
        .b-login__form__btns {
            margin-top: 14px;
            width: 100%;
        }
            .b-login__form__cancel {
                float: left;
            }
            .b-login__form__dologin {
                float: right;
            }

.b-chat {
    position: absolute;
    top: $header_height;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 100;
}
    .b-chat__messages {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: $msgline_height;
    }

        .b-chat__item {
            position: relative;
            margin: 9px 9px 0px;
            min-height: $avatar_size;
        }

            .b-chat__item__avatar {
                position: absolute;
                top: 0px;
                left: 0px;
                width: $avatar_size;
                height: $avatar_size;
                overflow: hidden;
                img {
                    width: $avatar_size;
                    height: $avatar_size;
                }
            }

            .b-chat__item__content {
                top: 0px;
                cursor: text;
                .b-chat__item_incoming & {
                    margin-left: $avatar_size + 7px;
                    margin-right: $timestamp_width + 7px; 
                }
                .b-chat__item_outgoing & {
                    margin-left: $timestamp_width + 7px;
                    margin-right: $angle_width;
                    @include border-radius(5px);
                    background-color: $cl_chrome;
                    padding: 7px;
                    &:after {
                        display: block;
                        content: '';
                        position: absolute;
                        width: 0px;
                        height: 0px;
                        border: solid $angle_width;
                        border-color: $cl_transp $cl_transp $cl_transp $cl_chrome;
                        right: -$angle_width + 1px;
                        bottom: 14px;
                    }
                }
            }

                .b-chat__item__content__text {
                    .b-chat__item_incoming & {
                        color: $cl_text_dark; 
                    }
                    .b-chat__item_outgoing & {
                        color: $cl_text_white;
                    }
                }

                .b-chat__item__content__from {
                    .b-chat__item_incoming & {
                        color: $cl_text_light;
                    }
                    .b-chat__item_outgoing & {
                        color: #8fbbef;
                    }
                }

            .b-chat__item__ts {
                position: absolute;
                top: 0px;
                right: 7px;
                width: $timestamp_width;
                color: $cl_text_light;
            }
            

    .b-chat__msgline {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height: $msgline_height;
        border-top: solid 1px $cl_separator;
    }
        .b-chat__msgline__input {
            border: none;
            position: absolute;
            padding: 7px;
            height: 100%;
            width: 80%;
        }

        .b-chat__msgline__btn {
            border: none;
            position: absolute;
            top: 0px;
            right: 0px;
            width: 30%;
            height: 100%;
            padding: 7px;
            font-weight: bold;
            color: $cl_text_light;
            background: inherit;
            cursor: pointer;
            &:focus {
                border: none
            }
        }
