@import "compass/css3";
@import "../images/icon/*.png";
@import "vars";

// fonts

@font-face {
    font-family: "PTSans";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/PTS55F-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/PTS55F-webfont.woff") format("woff"), url("/fonts/PTS55F-webfont.ttf") format("truetype"), url("/fonts/PTS55F-webfont.svg#pt_sansregular") format("svg");
}

// reset
* {
    @include box-sizing(border-box);
}

html,body,form {
    margin:0px;
    padding:0px;
}

a {
    color: $cl_text_light;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.b-app {
    position: relative;
    width: $pane_width;
    height: $pane_height;
    background-color: $cl_background; 
    font-family: PTSans;
    font-size: 14px;
    cursor: default;
    border: solid 2px $cl_chrome;
}

    .b-app__header {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        height: $header_height;

        text-align: center;
        background-color: $cl_chrome;
        color: $cl_text_white;
        font-size: 120%;
    }
        .b-app__header__menu {
            display: none; //temp
            position: absolute;
            text-decoration: none;
            width: 20px;
            height: 20px;
            top: 5px;
            left: 9px;
            @include icon-sprite(menu);
        }
        .b-app__header__title {
            display: inline-block;
            line-height: $header_height;
            color: inherit;
            text-decoration: none !important;
            cursor: pointer;
            &:after {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-left: 0.5em;
                margin-bottom: -4px;
                @include icon-sprite(logo);
            }
        }

.b-connection {
    position: absolute;
    top: $header_height;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 200;
    background-color: $cl_background;
}

.b-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
    width: 64px;
    height: 64px;
    background: url(/images/spinner2.gif);
    z-index: 100;
}

.b-login {
    position: absolute;
    top: $header_height;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 200;
    background-color: $cl_background;
}
    .b-login__form {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -125px;
        margin-top: -130px;
        width: 250px;
        height: 300px;
        text-align: center;
    }
        .b-login__form__text {
            margin-top: 36px;
            color: $cl_text_dark;
        }
        .b-login__form__nick {
            margin-top: 14px;
            width: 100%;
            height: 34px;
            font-size: 120%;
            border: solid 1px $cl_sep_dark;
            @include border-radius(5px);
            background: #fff;
            padding: 7px;
        }
        .b-login__form__btns {
            margin-top: 14px;
            width: 100%;
            line-height: 30px;
        }
            .b-login__form__cancel {
                float: left;
            }
            .b-login__form__dologin {
                float: right;
                border: none;
                @include border-radius(5px);
                background-color: $cl_accent;
                color: $cl_text_white;
                padding: 7px 14px;
                font-weight: bold;
                cursor: pointer;
                &:hover {
                    background-color: darken($cl_accent, 5%);
                }
            }

.b-chat {
    position: absolute;
    top: $header_height;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 100;
}
    .b-chat__messages {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: $msgline_height;
    }
        .b-chat__messages__scrollable {
            overflow-y: auto;
            height: 100%;
            width: 100%;
        }

        .b-chat__item {
            position: relative;
            margin: 9px 9px 0px;
            min-height: $avatar_size;
        }

            .b-chat__item__avatar {
                position: absolute;
                top: 0px;
                left: 0px;
                width: $avatar_size;
                height: $avatar_size;
                overflow: hidden;
                img {
                    width: $avatar_size;
                    height: $avatar_size;
                }
            }

            .b-chat__item__content {
                top: 0px;
                cursor: text;
                position: relative;
                .b-chat__item_incoming & {
                    margin-left: $avatar_size + 7px;
                    margin-right: $timestamp_width + 7px; 
                }
                .b-chat__item_outgoing & {
                    margin-left: $timestamp_width + 7px;
                    margin-right: $angle_width;
                    @include border-radius(5px);
                    background-color: $cl_chrome;
                    padding: 7px;
                    &:after {
                        display: block;
                        content: '';
                        position: absolute;
                        width: 0px;
                        height: 0px;
                        border: solid $angle_width;
                        border-color: $cl_transp $cl_transp $cl_transp $cl_chrome;
                        right: -$angle_width - $angle_width + 1px;
                        bottom: 7px;
                    }
                }
            }

                .b-chat__item__content__text {
                    .b-chat__item_incoming & {
                        color: $cl_text_dark; 
                    }
                    .b-chat__item_outgoing & {
                        color: $cl_text_white;
                    }
                }

                .b-chat__item__content__from {
                    .b-chat__item_incoming & {
                        color: $cl_text_light;
                    }
                    .b-chat__item_outgoing & {
                        color: #8fbbef;
                    }
                }

            .b-chat__item__ts {
                position: absolute;
                top: 0px;
                right: 7px;
                width: $timestamp_width;
                color: $cl_text_light;
                white-space: nowrap;
                .b-chat__item_incoming & {
                    text-align: right;
                }
                .b-chat__item_outgoing & {
                    right: auto;
                    left: 7px;
                }
            }
            

    .b-chat__msgline {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height: $msgline_height;
        border-top: solid 1px $cl_sep_light;
    }
        .b-chat__msgline__input {
            border: none;
            outline: none;
            position: absolute;
            padding: 7px;
            height: 100%;
            width: 70%;
        }

        .b-chat__msgline__btn {
            border: none;
            position: absolute;
            top: 0px;
            right: 0px;
            width: 30%;
            height: 100%;
            padding: 7px;
            font-weight: bold;
            color: $cl_text_light;
            background: inherit;
            cursor: pointer;
            &:focus {
                border: none;
            }
            &:hover {
                background: $cl_sep_light;
            }
            &:disabled {
                color: lighten($cl_text_light, 20);
                background: inherit !important;
            }
        }
