@import "compass/css3";
@import "../images/icon/*.png";
@import "mixins";
@import "vars";
@import "fonts";
@import "baron";
@import "tooltipster";

// reset
* {
    @include box-sizing(border-box);
}

html,body,form {
    margin:0px;
    padding:0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a {
    color: $cl_text_light;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.b-app {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $cl_background; 
    font-family: 'open_sansregular';
    font-size: $base_font_size;
    cursor: default;
    border: solid 2px $cl_chrome;
}

    .b-app__header {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        height: $header_height;

        text-align: center;
        background-color: $cl_chrome;
        color: $cl_text_white;
        font-size: 120%;
    }

        .b-app__header__menu {
            display: none; //temp
            position: absolute;
            text-decoration: none;
            width: 20px;
            height: 20px;
            top: 5px;
            left: 9px;
            @include icon-sprite(menu);
        }

        .b-app__header__title {
            display: inline-block;
            line-height: $header_height;
            color: inherit;
            text-decoration: none !important;
            cursor: pointer;
            &:before {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: 0.5em;
                margin-bottom: -4px;
                @include icon-sprite(logo);
            }
        }

        .b-app__header__ricons {
            display: block;
            position: absolute;
            top: 5px;
            right: 5px;
            height: $icon_size;
        }

            .b-app__header__icon {
                display: inline-block;
                width: $icon_size;
                height: $icon_size;
                margin: 3px;
                cursor: pointer;
            }
            .b-app__header__people {
                @extend .b-app__header__icon;
                @include icon-sprite(people);
            }
            .b-app__header__video {
                @extend .b-app__header__icon;
                @include icon-sprite(video);
            }
            .b-app__header__settings {
                @extend .b-app__header__icon;
                @include icon-sprite(settings);
            }
            .b-app__header__close {
                @extend .b-app__header__icon;
                @include icon-sprite(close2);
                right: 5px;
            }


.b-connection {
    position: absolute;
    top: $header_height;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 200;
    background-color: $cl_background;
}

.b-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    &:after {
        content: '';
        display: block;
        @include b-circle-loader;
    }
}

.b-login {
    position: absolute;
    top: $header_height;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 200;
    background-color: $cl_background;
}
    .b-login__form {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -125px;
        margin-top: -130px;
        width: 250px;
        height: 300px;
        text-align: center;
    }
        .b-login__form__text {
            margin-top: 36px;
            color: $cl_text_dark;
        }
        .b-login__form__nick {
            margin-top: 14px;
            width: 100%;
            height: 34px;
            font-size: 110%;
            border: solid 1px $cl_sep_dark;
            @include border-radius(5px);
            background: #fff;
            padding: 7px;
        }
        .b-login__form__btns {
            margin-top: 14px;
            width: 100%;
            line-height: 30px;
        }
            .b-login__form__cancel {
                float: left;
            }
            .b-login__form__dologin {
                float: right;
                border: none;
                @include border-radius(5px);
                background-color: $cl_accent;
                color: $cl_text_white;
                padding: 7px 14px;
                font-weight: bold;
                cursor: pointer;
                &:hover {
                    background-color: darken($cl_accent, 5%);
                }
            }

.b-chat {
    position: absolute;
    top: $header_height;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 100;
}
    .b-chat__messages {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: $msgline_height;
    }
        .b-chat__messages__scrollable {
            overflow-y: scroll;
            height: 100%;
            width: 100%;
        }

        .b-chat__item {
            position: relative;
            margin: 0px 11px;
            min-height: $avatar_size;
        }

            .b-chat__item__head {
                display: none;
                position: relative;
                width: 100%;
                height: 24px;
                text-align: center;
                .b-chat__item_first & {
                    display: block;
                }
            }

                .b-chat__item__head__name {
                    display: inline;
                    position: absolute;
                    top: 0px;
                    font-size: 90%;
                    color: $cl_text_light;
                    .b-chat__item_incoming & {
                        left: $avatar_size + 10px;
                    }
                    .b-chat__item_outgoing & {
                        right: 10px;
                    }
                }

            .b-chat__item__avatar {
                visibility: hidden;
                position: absolute;
                top: 24px;
                left: 0px;
                width: $avatar_size;
                height: $avatar_size;
                overflow: hidden;
                img {
                    width: $avatar_size;
                    height: $avatar_size;
                }
                .b-chat__item_first & {
                    visibility: visible;
                }
                .b-chat__item_outgoing & {
                    display: none;
                }
            }

            .b-chat__item__ts {
                display: block;
                position: absolute;
                top: 0px;
                width: $timestamp_width;
                color: $cl_text_light;
                font-size: 90%;
                white-space: nowrap;
                .b-chat__item_incoming & {
                    right: 0px;
                }
                .b-chat__item_outgoing & {
                    left: 0px;
                }
                .b-chat__item_first & {
                    top: 24px;
                }
            }

            .b-chat__item__content {
                top: 0px;
                position: relative;
                .b-chat__item_outgoing & {
                    text-align: right;
                    margin-left: $timestamp_width + 10px;
                    margin-right: 10px;
                }
                .b-chat__item_incoming & {
                    text-align: left;
                    margin-left: $avatar_size + 10px;
                    margin-right: $timestamp_width + 10px;
                }
            }

                .b-chat__item__content__bubble {
                    display: inline-block;
                    position: relative;
                    padding: 10px;
                    @include border-radius(5px);
                    margin-bottom: 7px;
                    text-align: left;
                    &:after {
                        display: block;
                        content: '';
                        position: absolute;
                        width: 0px;
                        height: 0px;
                        border: solid $angle_width;
                        left: -10px;
                        top: 7px;
                    }

                    .b-chat__item_incoming & {
                        color: $cl_text_dark; 
                        background-color: $cl_background_dark;
                        &:after {
                            border-color: $cl_transp $cl_background_dark $cl_transp $cl_transp;
                        }
                    }
                    .b-chat__item_incoming.b-chat__item_last & {
                        margin-bottom: 28px;
                    }
                    .b-chat__item_outgoing & {
                        color: $cl_text_white;
                        background-color: $cl_chrome;
                        &:after {
                            left: auto;
                            right: -9px;
                            border-color: $cl_transp $cl_transp $cl_transp $cl_chrome;
                        }
                    }
                }

                .b-chat__item__content__text {
                    cursor: text;
                }

                .b-chat__item__content__from {
                    display: none;
                    font-size: 90%;
                    white-space: nowrap;
                    .b-chat__item_incoming & {
                        position: absolute;
                        bottom: -23px;
                        right: 0px;
                        a {
                            color: $cl_chrome;
                        }
                    }
                    .b-chat__item_outgoing & {
                        color: $cl_text_blue;
                        a {
                            color: $cl_text_blue;
                        }
                    }
                    .b-chat__item_last & {
                        display: block;
                    }
                }


    .b-chat__msgline {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height: $msgline_height;
        border-top: solid 1px $cl_sep_light;
    }
        .b-chat__msgline__input {
            border: none;
            outline: none;
            position: absolute;
            padding: 7px;
            height: 100%;
            width: 70%;
        }

        .b-chat__msgline__btn {
            border: none;
            position: absolute;
            top: 0px;
            right: 0px;
            width: 30%;
            height: 100%;
            padding: 7px;
            font-weight: bold;
            color: $cl_text_light;
            background: inherit !important;
            cursor: pointer;
            &:focus {
                border: none;
            }
            &:hover {
                background: $cl_sep_light;
            }
            &:disabled {
                color: lighten($cl_text_light, 20);
                background: inherit !important;
            }
        }
