@import "compass/css3";
@import "vars";

#getmoex_chat_btn {
    display: block;
    position: fixed;
    right: $chat_right;
    bottom: 0;
    cursor: pointer;
    border: none;
    outline: none;
    width: 141px;
    height: 31px;
    margin: 0px;
    padding: 0px;
}

#getmoex_chat {
    display: none;
    position: fixed;
    bottom: 0px;
    right: 100px;
    border: none;
    width: $pane_width;
    height: $pane_height;
    margin: 0px;
    padding: 0px;
}

#getmoex_chat_close {
    display: none;
    position: fixed;
    bottom: $pane_height - 25px;
    right: 65px;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
}
