@import "compass/css3";
@import "../images/icon/*.png";
@import "vars";

#getmoex_chat_launcher {
    display: block;
    position: fixed;
    right: $chat_right;
    bottom: 0;
    cursor: pointer;
    border: none;
    outline: none;
    @include single-box-shadow(rgba(0, 0, 0, 0.3), 0px, 0px, 2px, 1px);
    width: $pane_width;
    height: $header_height;
    margin: 0px;
    padding: 0px;
    &.hidden {
        display: none;
    }
}

#getmoex_chat_container {
    display: block !important;
    position: fixed;
    right: $chat_right;
    width: $pane_width;
    height: $pane_height;
    margin: 0px;
    padding: 0px;
    bottom: 0px;
    background-color: $cl_background; 
    @include transition-property(bottom top left right width height);
    @include transition-duration(0.3s);
    @include single-box-shadow(rgba(0, 0, 0, 0.3), 0px, 0px, 2px, 1px);
    &.resizing {
        @include transition-duration(0s);
    }
    &.hidden {
        top: auto !important;
        left: auto !important;
        bottom: -$pane_height !important;
        width: $pane_width !important;
        height: $pane_height !important;
    }
}

#getmoex_chat {
    border: none;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#getmoex_chat_rfix {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 100;
}

#getmoex_chat_handle {
    position: absolute;
    top: 6px;
    left: 6px;
    width: $header_height;
    height: $header_height;
    z-index: 200;
    cursor: nw-resize;
    width: 22px;
    height: 22px;
    @include opacity(0.85);
    @include icon-sprite(handle);
}

#getmoex_chat_close {
    display: block !important;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 2px;
    right: -35px;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    @include icon-sprite(close);
    @include transition-property(bottom);
    @include transition-duration(0.3s);
    @include opacity(1);
    #getmoex_chat_container.hidden & {
        @include opacity(0);
    }
}
