<!DOCTYPE html>
<html lang="ru" ng-app="GetmoexApp">

<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 
        Этот HTML загружается в iframe, но в ДОМЕНЕ сайта-партнера 
        поэтому нам необходимо указывать абсолютные URL к стилям и скриптам.
        Когда будет развернуто в продакшен - можно просто зашить домен.
        Пока локейшен откуда грузится статика передается извне (client.js)
    -->
    <script>
        (function () {
         var base = (window.top.GETMOEX || {}).chatBaseUrl || '/';
        document.write('<link rel="stylesheet" href="' + base + 'css/app.css">');
        document.write('<script charset="utf-8" src="' + base + 'js/jquery.min.js"></scr'+'ipt>');
        document.write('<script charset="utf-8" src="' + base + 'js/baron.js"></scr'+'ipt>');
        document.write('<script charset="utf-8" src="' + base + 'js/jquery.tooltipster.min.js"></scr'+'ipt>');
        document.write('<script charset="utf-8" src="' + base + 'js/angular.min.js"></scr'+'ipt>');
        document.write('<script charset="utf-8" src="' + base + 'js/angular-sanitize.min.js"></scr' + 'ipt>'); 
        document.write('<script charset="utf-8" src="' + base + 'js/pusher-2.2.min.js"></scr'+'ipt>');
        document.write('<script charset="utf-8" src="' + base + 'js/app.js?v=3"></scr'+'ipt>');
        })();
    </script>
</head>

<body class="b-app {{ browserVersion }} {{ channelsShown ? 'b-app_wide' : '' }}" ng-controller="AppCtrl">

    <div class="b-app__header">
        <div class="b-app__header__wide">
            <a href="http://www.istochnik.im/r={{ clientType }}" target="_blank" class="b-app__header__teaser">Попробуйте бесплатно</a>
        </div>
        <div class="b-app__header__main">
            <span class="b-app__header__menu" ng-if="user.session.token && user.nickname" ng-click="toggleChannels()" title="{{ channelsShown ? 'Скрыть список каналов' : 'Показать список каналов' }}">
                <span class="b-app__header__menu__unread" ng-if="totalUnreadMessagesCount">{{ totalUnreadMessagesCount }}</span>
            </span>
            <a class="b-app__header__title" href="http://www.istochnik.im/r={{ clientType }}" target="_blank">{{ title }}</a>
            <!--
            <span class="b-app__header__people" title="участники комнаты"></span>
            <span class="b-app__header__video" title="видео-чат"></span>
            -->
            <!--
            <span class="b-app__header__settings" ng-click="toggleSettings()" title="настройки&nbsp;чата"></span>
            -->
            <span class="b-app__header__close" tile="закрыть чат" ng-click="closeChat()"></span>
        </div>
    </div>

    <div class="b-connection" ng-if="!user.session.token">
        <div class="b-spinner"></div>
    </div>

    <div class="b-settings" ng-if="settingsShown">
        <img class="b-settings__avatar" ng-src="{{ user.session.avatar_url || user.session.anonymous_pic_url }}">
        <form class="b-settings__form">
            <label class="b-settings__form__label" for="user_name">Имя</label>
            <input class="b-settings__form__input" type="text" ng-model="{{ user.nickname }}" id="user_name">
            <label class="b-settings__form__label" for="user_phone">Телефон</label>
            <input class="b-settings__form__input" type="text" ng-model="{{ user.phone }}" id="user_phone">
            <label class="b-settings__form__label" for="user_phonecode">Проверочный код</label>
            <input class="b-settings__form__input" type="text" ng-model="{{ user.phonecode }}" id="user_phonecode">
        </form>
    </div>

    <div class="b-channels b-channels_nobtn" ng-controller="ChannelsCtrl" ng-if="channelsShown">
        <div class="b-channels__create_public" ng-click="createPublicChannel()">Создать публичный чат</div>
        <div class="b-channels__create_private" ng-click="createPrivateChannel()">Создать приватный чат</div>
        <div class="b-channels__search">
            Поиск
            <div class="b-channels__search__input">
                <input type="text" ng-model="channelSearch.human_name" class="{{ channelSearch.human_name ? 'filled' : '' }}">
            </div>
        </div>
        <div class="b-channels__list b-baron__wrapper">
            <div class="b-baron__track">
                <div class="b-baron__bar"></div>
            </div>

            <div class="b-channels__list__scrollable b-baron__scrollable" 
                scroll-bar 
                update-on="(channels | filter:channelSearch).length"
                update-direction="top"
            >
            <div class="b-channels__item {{ channel.name == currentChannelName ? 'b-channels__item_active' : '' }}"  
                ng-repeat="channel in channels | filter:channelSearch"
                ng-click="joinChannel(channel.name)"
            >
                    <div class="b-channels__item__avatar">
                        <img ng-src="{{  channel.last_message.avatar_url || channel.last_message.anonymous_pic_url }}">
                    </div>
                    <div class="b-channels__item__content">
                        <div class="b-channels__item__content__title" title="{{ channel.human_name }}">{{ channel.human_name }}</div>
                        <div class="b-channels__item__content__members">{{ channel.members_count }} {{ channel.members_count | decline:"участник,участника,участников" }}</div>
                    </div>
                    <div class="b-channels__item__ts">{{ channel.last_update | time }}</div>
                    <div class="b-channels__item__unread" ng-if="channel.unreadMessagesCount > 0">{{ channel.unreadMessagesCount }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="b-login" ng-controller="PresentCtrl" ng-if="user.session.token && !user.nickname">

        <div class="b-login__form">

            <img ng-src="{{ user.session.avatar_url || user.session.anonymous_pic_url }}" class="b-login__avatar">

            <div class="b-login__form__text">Пожалуйста, представьтесь</div>
            <input class="b-login__form__nick" type="text" ng-model="nickname" placeholder="Ваше имя">
            <div class="b-login__form__btns">
                <a class="b-login__form__cancel" href="#">Отмена</a>
                <button class="b-login__form__dologin" ng-click="setNickname()">Отправить</button>
            </div>
        </div>
            
    </div>

    <div class="b-chat" ng-controller="ChatCtrl" ng-if="user.session.token && user.nickname" adjust-msg-line>

        <div class="b-chat__messages b-baron__wrapper">

            <div class="b-spinner" ng-show="messagesLoading"></div>

            <div class="b-baron__track">
                <div class="b-baron__bar"></div>
            </div>
            
            <div class="b-chat__messages__scrollable b-baron__scrollable" 
                scroll-bar 
                update-on="messages.length" 
                progressive-load="loadHistory" 
                progressive-load-margin="50"
                update-direction="bottom"
            >

                <div ng-repeat="message in messages">

                    <div ng-if="message.firstOfTheDay" class="b-chat__messages__date"><span>{{ message.date }}</span></div>

                    <div ng-if="!message.my" 
                        class="b-chat__item b-chat__item_incoming 
                               {{ message.firstInSeq ? 'b-chat__item_first' : '' }}
                               {{ message.lastInSeq ? 'b-chat__item_last' : '' }}">
                        <div class="b-chat__item__head">
                            <div class="b-chat__item__head__name">{{ message.name || '&nbsp;' }}</div>
                        </div>
                        <div class="b-chat__item__avatar">
                            <img ng-src="{{ message.avatar_url || message.anonymous_pic_url }}" title="{{ message.name }}" alt="{{ message.name }}" ng-click="insertNickname(message.name)"/>
                        </div>
                        <div class="b-chat__item__content">
                            <div class="b-chat__item__content__bubble">
                                <div class="b-chat__item__content__text" ng-bind-html="message.text | linky:'_blank' "></div>
                                <div class="b-chat__item__content__time" ng-bind-html="message.timestamp | time"></div>
                                <div class="b-chat__item__content__from {{ message.fromLong ? 'b-chat__item__content__from_long' : '' }}" ng-bind-html="message.client_type | hyperlink"></div>
                            </div>
                        </div>
                    </div>

                    <div ng-if="message.my" 
                         class="b-chat__item b-chat__item_outgoing 
                                {{ message.firstInSeq ? 'b-chat__item_first' : '' }}
                                {{ message.lastInSeq ? 'b-chat__item_last' : '' }}">
                        <div class="b-chat__item__head">
                            <div class="b-chat__item__head__name">{{ message.name || '&nbsp;' }}</div>
                        </div>
                        <div class="b-chat__item__content">
                            <div class="b-chat__item__content__bubble">
                                <div class="b-chat__item__content__text" ng-bind-html="message.text | linky:'_blank' "></div>
                                <div class="b-chat__item__content__time" ng-bind-html="message.timestamp | time"></div>
                            </div>
                        </div>
                    </div>

                    <div ng-if="message.type == 'info'" class="b-chat__item b-chat__item_info">
                        <div class="b-chat__item__content">
                            <div class="b-chat__item__content__text">{{ message.text }}</div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <form class="b-chat__msgline" ng-submit="sendMessage()" >
            <textarea class="b-chat__msgline__input" type="text" autocomplete="off" rows="1" autofocus ng-model="newMessage" placeholder="Ваше сообщение..." ng-keypress="sendMessageIfEnter($event)"></textarea>
            <button class="b-chat__msgline__btn" ng-disabled="!newMessage.length" title="Enter">Отправить</button>
        </form>

    </div>

</body>

</html>
