<!DOCTYPE html>
<html lang="ru" ng-app="GetmoexApp">

<head>
    <title>Чат getmoex.ru</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/app.css">

    <script src="/js/angular.min.js"></script>
    <script src="/js/pusher-2.2.min.js"></script>
    <script src="/js/app.js"></script>
</head>

<body class="b-app" ng-controller="AppCtrl">

    <div class="b-app__header">
        <span class="b-app__header__menu"></span>
        <a class="b-app__header__title" href="http://www.getmoex.ru" targe="_blank">Чат MOEX</a>
    </div>

    <div class="b-connection" ng-if="!user.session.token">
        <div class="b-spinner"></div>
    </div>

    <div class="b-login" ng-controller="PresentCtrl" ng-if="user.session.token && !user.nickname">

        <div class="b-login__form">

            <img ng-src="{{ user.session.anonymous_pic_url }}" class="b-login__avatar">

            <div class="b-login__form__text">Пожалуйста, представьтесь</div>
            <input class="b-login__form__nick" type="text" ng-model="nickname" placeholder="Ваше имя">
            <div class="b-login__form__btns">
                <a class="b-login__form__cancel" href="#">Отмена</a>
                <button class="b-login__form__dologin" ng-click="setNickname()">Отправить</button>
            </div>
        </div>
            
    </div>

    <div class="b-chat" ng-controller="ChatCtrl" ng-if="user.session.token && user.nickname">

        <div class="b-chat__messages" scroll-bar update-on="messages.length" 
                progressive-load="loadHistory" progressive-load-margin="50">

            <div class="b-spinner" ng-show="messagesLoading"></div>

            <div ng-repeat="message in messages">

                <div ng-if="!message.my" class="b-chat__item b-chat__item_incoming">
                    <div class="b-chat__item__avatar">
                        <img ng-src="{{ message.anonymous_pic_url }}" title="{{ message.nickname }}" alt="{{ message.nickname }}"/>
                    </div>
                    <div class="b-chat__item__ts" ng-bind-html="message.timestamp | nicedate"></div>
                    <div class="b-chat__item__content">
                        <div class="b-chat__item__content__text">{{ message.text }}</div>
                        <div class="b-chat__item__content__from">{{ message.client_type }}</div>
                    </div>
                </div>

                <div ng-if="message.my" class="b-chat__item b-chat__item_outgoing">
                    <div class="b-chat__item__ts" ng-bind-html="message.timestamp | nicedate"></div>
                    <div class="b-chat__item__content">
                        <div class="b-chat__item__content__text">{{ message.text }}</div>
                        <div class="b-chat__item__content__from">{{ message.client_type }}</div>
                    </div>
                </div>

                <div ng-if="message.type == 'info'" class="b-chat__item b-chat__item_info">
                    <div class="b-chat__item__content">
                        <div class="b-chat__item__content__text">{{ message.text }}</div>
                    </div>
                </div>

            </div>
        </div>

        <form class="b-chat__msgline" ng-submit="sendMessage()" >
            <input class="b-chat__msgline__input" type="text" autocomplete="off" ng-model="newMessage" placeholder="Ваше сообщение...">
            <button class="b-chat__msgline__btn" ng-disabled="!newMessage.length">Отправить</button>
        </form>

    </div>

</body>

</html>
