<!DOCTYPE html>
<html lang="ru" ng-app="GetmoexApp">

<head>
    <title>Чат getmoex.ru</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 
        Этот HTML загружается в iframe, но в ДОМЕНЕ сайта-партнера 
        поэтому нам необходимо указывать абсолютные URL к стилям и скриптам.
        Когда будет развернуто в продакшен - можно просто зашить домен.
        Пока локейшен откуда грузится статика передается извне (client.js)
    -->
    <script>
        (function () {
         var base = (window.top.GETMOEX || {}).chatBaseUrl || '/';
        document.write('<link rel="stylesheet" href="' + base + 'css/app.css">');
        document.write('<script charset="utf-8" src="' + base + 'js/jquery.min.js"></scr'+'ipt>');
        document.write('<script charset="utf-8" src="' + base + 'js/baron.js"></scr'+'ipt>');
        document.write('<script charset="utf-8" src="' + base + 'js/jquery.tooltipster.min.js"></scr'+'ipt>');
        document.write('<script charset="utf-8" src="' + base + 'js/angular.min.js"></scr'+'ipt>');
        document.write('<script charset="utf-8" src="' + base + 'js/pusher-2.2.min.js"></scr'+'ipt>');
        document.write('<script charset="utf-8" src="' + base + 'js/app.js"></scr'+'ipt>');
        })();
    </script>
</head>

<body class="b-app {{ browserVersion }}" ng-controller="AppCtrl">

    <div class="b-app__header">
        <span class="b-app__header__menu"></span>
        <a class="b-app__header__title" href="http://www.istochnik.im/?ref={{ clientType }}" target="_blank">Источник чат</a>
        <div class="b-app__header__ricons">
            <!--
            <span class="b-app__header__people" title="участники комнаты"></span>
            <span class="b-app__header__video" title="видео-чат"></span>
            <span class="b-app__header__settings" title="настройки&nbsp;чата"></span>
            -->
            <span class="b-app__header__close" tile="закрыть" ng-click="closeChat()"></span>
        </div>
    </div>

    <div class="b-connection" ng-if="!user.session.token">
        <div class="b-spinner"></div>
    </div>

    <div class="b-login" ng-controller="PresentCtrl" ng-if="user.session.token && !user.nickname">

        <div class="b-login__form">

            <img ng-src="{{ user.session.avatar_url || user.session.anonymous_pic_url }}" class="b-login__avatar">

            <div class="b-login__form__text">Пожалуйста, представьтесь</div>
            <input class="b-login__form__nick" type="text" ng-model="nickname" placeholder="Ваше имя">
            <div class="b-login__form__btns">
                <a class="b-login__form__cancel" href="#">Отмена</a>
                <button class="b-login__form__dologin" ng-click="setNickname()">Отправить</button>
            </div>
        </div>
            
    </div>

    <div class="b-chat" ng-controller="ChatCtrl" ng-if="user.session.token && user.nickname">

        <div class="b-chat__messages b-baron__wrapper">

            <div class="b-spinner" ng-show="messagesLoading"></div>

            <div class="b-baron__track">
                <div class="b-baron__bar"></div>
            </div>
            
            <div class="b-chat__messages__scrollable b-baron__scrollable" scroll-bar update-on="messages.length" 
                progressive-load="loadHistory" progressive-load-margin="50">

                <div ng-repeat="message in messages">

                    <div ng-if="message.firstOfTheDay" class="b-chat__messages__date"><span>{{ message.date }}</span></div>

                    <div ng-if="!message.my" 
                        class="b-chat__item b-chat__item_incoming 
                               {{ message.firstInSeq ? 'b-chat__item_first' : '' }}
                               {{ message.lastInSeq ? 'b-chat__item_last' : '' }}">
                        <div class="b-chat__item__head">
                            <div class="b-chat__item__head__name">{{ message.name || '&nbsp;' }}</div>
                        </div>
                        <div class="b-chat__item__avatar">
                            <img ng-src="{{ message.avatar_url || message.anonymous_pic_url }}" title="{{ message.name }}" alt="{{ message.name }}"/>
                        </div>
                        <div class="b-chat__item__content">
                            <div class="b-chat__item__content__bubble">
                                <div class="b-chat__item__content__text">{{ message.text | splitlong:18 }}</div>
                                <div class="b-chat__item__content__time" ng-bind-html="message.timestamp | time"></div>
                                <div class="b-chat__item__content__from {{ message.fromLong ? 'b-chat__item__content__from_long' : '' }}" ng-bind-html="message.client_type | hyperlink"></div>
                            </div>
                        </div>
                    </div>

                    <div ng-if="message.my" 
                         class="b-chat__item b-chat__item_outgoing 
                                {{ message.firstInSeq ? 'b-chat__item_first' : '' }}
                                {{ message.lastInSeq ? 'b-chat__item_last' : '' }}">
                        <div class="b-chat__item__head">
                            <div class="b-chat__item__head__name">{{ message.name || '&nbsp;' }}</div>
                        </div>
                        <div class="b-chat__item__content">
                            <div class="b-chat__item__content__bubble">
                                <div class="b-chat__item__content__text">{{ message.text | splitlong:18 }}</div>
                                <div class="b-chat__item__content__time" ng-bind-html="message.timestamp | time"></div>
                            </div>
                        </div>
                    </div>

                    <div ng-if="message.type == 'info'" class="b-chat__item b-chat__item_info">
                        <div class="b-chat__item__content">
                            <div class="b-chat__item__content__text">{{ message.text }}</div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <form class="b-chat__msgline" ng-submit="sendMessage()" >
            <input class="b-chat__msgline__input" type="text" autocomplete="off" ng-model="newMessage" placeholder="Ваше сообщение...">
            <button class="b-chat__msgline__btn" ng-disabled="!newMessage.length">Отправить</button>
        </form>

    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-47475161-3', 'auto');
      ga('send', 'pageview');
    </script>

</body>

</html>
